<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}"/>
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/lscore/front/css/editor.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/front/css/style.css?ver=2') }}" rel="stylesheet" type="text/css" media="all"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/front/images/favicon.png') }}"/>
</head>
<body>
{% set menuTop = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_top'}) %}
{% set currentRoute = app.request.attributes.get('_route') %}

<div class="floating-header">
    <div class="content">
        <a class="logo" href="{{ path('ls_core_homepage') }}"></a>
        <div class="languages">
            <a href="{{ de_host_url }}" class="de"></a>
            <a href="{{ en_host_url }}" class="en"></a>
            <a href="{{ pl_host_url }}" class="pl current"></a>
            <a href="{{ ru_host_url }}" class="ru"></a>
        </div>
        <div class="show-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        {{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
    </div>
</div>

<div class="menu-mobile">
    <div class="content">
        <div class="hide-menu"></div>
        <div class="menu-container">
            {{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
            <ul>
                <li><a class="mobile-program" href="#mobile-program" title="Program 3.7.">Program 3.7.</a></li>
                <li><a class="mobile-program" href="#mobile-program2" title="Zapytanie ofertowe">Zapytanie ofertowe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="top-right-bg">
        <div class="helper"></div>
    </div>

    <header>
        <div class="content">
            <a class="logo" href="{{ path('ls_core_homepage') }}"></a>
            <div class="languages">
                <a href="{{ de_host_url }}" class="de"></a>
                <a href="{{ en_host_url }}" class="en"></a>
                <a href="{{ pl_host_url }}" class="pl current"></a>
                <a href="{{ ru_host_url }}" class="ru"></a>
            </div>
            <div class="show-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            {{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
        </div>
    </header>
<div id="program">
    <div class="indicator"></div>
    <div class="program-content">
        <div class="text">
            Firma <span>P.P.H. „Inter-Glass“</span> stara się o dofinansowanie projektu w ramach Osi Priorytetowej 3 Konkurencyjność przedsiębiorstw, Działania 3.7 Wzrost konkurencyjności MŚP, Regionalnego Programu Operacyjnego Województwa Lubelskiego na lata 2014-2020
        </div>
            <img src="{{ asset('bundles/lscore/front/images/program_icons.png') }}">
    </div>
</div>
    
<div id="program2">
    <div class="indicator2"></div>
    <div class="program-content">
        <div class="text">
        <span>P.P.H. „Inter-Glass“</span> zwraca się z prośbą o przedstawienie oferty zakupu środków trwałych – Automatycznej linii do rozkroju szkła, Kompletu szlifierek dwukrawędziowych, Myjki poziomej do szkła, Pół-automatycznej wiertarki do dwustronnej obróbki szkłak, która będzie rezultatem projektu planowanego przez niego do złożenia w ramach działania Osi Priorytetowej 3 Konkurencyjność przedsiębiorstw, Działania 3.7 Wzrost konkurencyjności MŚP, Regionalnego Programu Operacyjnego Województwa Lubelskiego na lata 2014-2020<br />
Termin składania ofert upływa 06.07.2017 r.<br />
<div class="download">
    <a href="{{ asset('bundles/lscore/front/download/zapytanie-ofertowe.pdf') }}" target="_blank" download><img class="download-button" src="{{ asset('bundles/lscore/front/images/download-ico.jpg') }}" /> zapytanie ofertowe Inter-glass.pdf</a>
</div>
<div class="download">
    <a href="{{ asset('bundles/lscore/front/download/zapytanie-ofertowe.doc') }}" target="_blank" download><img class="download-button" src="{{ asset('bundles/lscore/front/images/download-ico.jpg') }}" /> zapytanie ofertowe Inter-glass.doc</a>
</div>
        </div>
            <img src="{{ asset('bundles/lscore/front/images/program_icons.png') }}">
    </div>
</div>

<div id="mobile-program" class="modalDialog">
    <div>   <a href="#close" title="Close" class="close">x</a>
        <div class="program-content">
            <div class="text">
                Firma <span>P.P.H. „Inter-Glass“</span> stara się o dofinansowanie projektu w ramach Osi Priorytetowej 3 Konkurencyjność przedsiębiorstw, Działania 3.7 Wzrost konkurencyjności MŚP, Regionalnego Programu Operacyjnego Województwa Lubelskiego na lata 2014-2020
            </div>
                <img src="{{ asset('bundles/lscore/front/images/program_icons.png') }}">
        </div>
    </div>
</div>
<div id="mobile-program2" class="modalDialog">
    <div>   <a href="#close" title="Close" class="close">x</a>
        <div class="program-content">
            <div class="text">
                <span>P.P.H. „Inter-Glass“</span> zwraca się z prośbą o przedstawienie oferty zakupu środków trwałych – Automatycznej linii do rozkroju szkła, Kompletu szlifierek dwukrawędziowych, Myjki poziomej do szkła, Pół-automatycznej wiertarki do dwustronnej obróbki szkłak, która będzie rezultatem projektu planowanego przez niego do złożenia w ramach działania Osi Priorytetowej 3 Konkurencyjność przedsiębiorstw, Działania 3.7 Wzrost konkurencyjności MŚP, Regionalnego Programu Operacyjnego Województwa Lubelskiego na lata 2014-2020<br />
Termin składania ofert upływa 06.07.2017 r.<br />
<div class="download">
    <a href="{{ asset('bundles/lscore/front/download/zapytanie-ofertowe.pdf') }}" target="_blank" download><img class="download-button" src="{{ asset('bundles/lscore/front/images/download-ico.jpg') }}" /> zapytanie ofertowe Inter-glass.pdf</a>
</div>
<div class="download">
    <a href="{{ asset('bundles/lscore/front/download/zapytanie-ofertowe.doc') }}" target="_blank" download><img class="download-button" src="{{ asset('bundles/lscore/front/images/download-ico.jpg') }}" /> zapytanie ofertowe Inter-glass.doc</a>
</div>
            </div>
                <img src="{{ asset('bundles/lscore/front/images/program_icons.png') }}">
        </div>
    </div>
</div>


    {% block content %}{% endblock %}
</div>

<footer>
    <div class="content">
        <div class="to-top">
            <img src="{{ asset('bundles/lscore/front/images/triangle-up.png') }}" alt=""/>
            <span>{{ cms_config.get('footer_up', '') }}</span>
        </div>
        <div class="copyright">{{ cms_config.get('footer_copyright', '') }}</div>
        <div class="project">{{ cms_config.get('footer_project', '') }}</div>
        <a href="http://www.lemonadestudio.pl" target="_blank"></a>
    </div>
</footer>

{{ cms_config.get('google_analytics', '')|raw }}

{% block javascripts %}
    <script src="https://use.typekit.net/mea1ccg.js"></script>
    <script>
        try {
            Typekit.load({async: true});
        } catch (e) {
        }
    </script>
    <script src="{{ asset('bundles/lscore/common/jquery-1.12.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/jquery.cycle2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/script.js') }}" type="text/javascript"></script>
{% endblock %}

</body>
</html>
