{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

<script type="text/javascript">
    var searchServices = JSON.parse('{{ form['search_services'].vars.value|raw }}');
    var routeParameters = '{{ form['route_parameters'].vars.value|raw }}';
    var routeparameters_url = '{{ path('ls_admin_menu_routeparameters') }}';
    var current_route = $('#{{ form.vars.name }}_route').val();

    function populateRouteParametersSelect() {
        var select_element = $('#{{ form.vars.name }}_route_parameters_choice');

        $.ajax({
            type: 'POST',
            dataType: 'html',
            url: routeparameters_url,
            data: {
                route: current_route,
                parameters: routeParameters,
                search: ''
            },
            success: function (response) {
                $('#row_route_parameters_choice').show();
                select_element.html(response);
            }
        });

    }
    jQuery(function () {
        $('#{{ form.vars.name }}_type').change(function () {
            var val = $(this).val();
            var row_section = $('#row_section');
            var row_section_id = $('#row_section_id');
            var row_url = $('#row_url');
            var row_route = $('#row_route');
            var row_onclick = $('#row_onclick');
            var row_route_parameters_choice = $('#row_route_parameters_choice');

            // hide all choices
            row_section.hide();
            row_section_id.hide();
            row_url.hide();
            row_route.hide();
            row_onclick.hide();

            // show only selected
            switch (val) {
                case 'section':
                    row_section.show();
                    row_section_id.show();
                    row_route_parameters_choice.hide();
                    $('#{{ form.vars.name }}_section').change();
                    break;

                case 'url':
                    row_url.show();
                    row_route_parameters_choice.hide();
                    break;

                case 'route':
                    row_route.show();
                    break;

                case 'button':
                    row_onclick.show();
                    row_route_parameters_choice.hide();
                    break;
            }

        }).change();

        $('#{{ form.vars.name }}_section').change(function () {
            var val = $(this).val();
            var row_route_parameters_choice = $('#row_route_parameters_choice');

            switch (val) {
                case 'about':
                    if ($('#{{ form.vars.name }}_type').val() == 'section') {
                        row_route_parameters_choice.show();
                        if ($('#{{ form.vars.name }}_route').val().length == 0) {
                            $('#{{ form.vars.name }}_route').val('ls_page_show')
                        }
                        current_route = $('#{{ form.vars.name }}_route').val();
                        if (searchServices[current_route] !== null && current_route.length > 0) {
                            populateRouteParametersSelect();
                        }
                    }
                    break;

                default:
                    row_route_parameters_choice.hide();
                    break;
            }

        }).change();

        $('#{{ form.vars.name }}_route').change(function () {
            $('#row_route_parameters_choice').hide();
            current_route = $(this).val();
            // show routeParameters select if module is searchable
            if ($('#row_route').is(':visible')) {
                if (searchServices[current_route] !== null && current_route.length > 0) {
                    populateRouteParametersSelect();
                }
            } else {
                if ($('#{{ form.vars.name }}_type').val() != 'section') {
                    $('#{{ form.vars.name }}_route_parameters').val('');
                }
            }
        }).change();

        $('#{{ form.vars.name }}_route_parameters_choice').change(function () {
            $('#{{ form.vars.name }}_route_parameters').val($(this).val());
        });

        $('#{{ form.vars.name }}').submit(function (event) {
            event.preventDefault();

            var action = $('#{{ form.vars.name }}').attr('action');
            var data = $('#{{ form.vars.name }}').serialize();

            $.ajax({
                type: 'POST',
                url: action,
                data: data,
                success: function (response) {
                    if (response.result === 'OK') {
                        window.location.reload();
                    } else {
                        $('#{{ form.vars.name }}').parent('div').parent('div').parent('div').html(response);
                    }
                }
            });
        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </div>
        <span style="line-height: 26px; font-weight: bold; font-size: 16px;">Element menu</span>
    </div>
    <div class="panel-body">
        {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
        <div class="form-group{% if form.title.vars.errors|length %} has-error has-feedback{% endif %}" id="row_title">
            {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.title, {'attr': {'class': 'form-control' }}) }}
                {% if form.title.vars.errors|length %}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block">
                        {% for error in form.title.vars.errors %}
                            <span>{{ error.message }}</span>{% if not loop.last %}<br/>{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group" id="row_type">
            {{ form_label(form.type, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.type, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
        <div class="form-group{% if form.section.vars.errors|length %} has-error has-feedback{% endif %}" id="row_section">
            {{ form_label(form.section, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.section, {'attr': {'class': 'form-control' }}) }}
                {% if form.section.vars.errors|length %}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block">
                        {% for error in form.section.vars.errors %}
                            <span>{{ error.message }}</span>{% if not loop.last %}<br/>{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.section_id.vars.errors|length %} has-error has-feedback{% endif %}" id="row_section_id">
            {{ form_label(form.section_id, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.section_id, {'attr': {'class': 'form-control' }}) }}
                {% if form.url.vars.errors|length %}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block">
                        {% for error in form.section_id.vars.errors %}
                            <span>{{ error.message }}</span>{% if not loop.last %}<br/>{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.url.vars.errors|length %} has-error has-feedback{% endif %}" id="row_url">
            {{ form_label(form.url, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.url, {'attr': {'class': 'form-control' }}) }}
                {% if form.url.vars.errors|length %}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block">
                        {% for error in form.url.vars.errors %}
                            <span>{{ error.message }}</span>{% if not loop.last %}<br/>{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.route.vars.errors|length %} has-error has-feedback{% endif %}" id="row_route">
            {{ form_label(form.route, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.route, {'attr': {'class': 'form-control' }}) }}
                {% if form.route.vars.errors|length %}
                    <div class="help-block">
                        {% for error in form.route.vars.errors %}
                            <span>{{ error.message }}</span>{% if not loop.last %}<br/>{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group" id="row_route_parameters_choice">
            <label class="col-sm-3 control-label" for="form_admin_menuitem_route_parameters_choice">Wybierz</label>

            <div class="col-sm-9">
                <select class="form-control" id="form_admin_menuitem_route_parameters_choice">
                    <option value="">-- Wybierz --</option>
                </select>
            </div>
        </div>
        <div class="form-group{% if form.onclick.vars.errors|length %} has-error has-feedback{% endif %}" id="row_onclick">
            {{ form_label(form.onclick, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.onclick, {'attr': {'class': 'form-control' }}) }}
                {% if form.onclick.vars.errors|length %}
                    <div class="help-block">
                        {% for error in form.onclick.vars.errors %}
                            <span>{{ error.message }}</span>{% if not loop.last %}<br/>{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
                <a href="#" class="btn btn-danger btn-delete" data-href="{{ path('ls_admin_menu_delete', {'id': entity.id}) }}" data-toggle="modal" data-target="#confirm-delete">Usuń</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
