{% extends '::frontend.html.twig' %}

{% block content %}
    {% set aboutid = "" %}
    {% set offerid = "" %}
    {% for item in menu_items %}
        {% if item.section == 'about' %}
            {% set aboutid = item.sectionid %}
        {% endif %}
        {% if item.section == 'offer' %}
            {% set offerid = item.sectionid %}
        {% endif %}
    {% endfor %}

    <section id="main-slider">
        <div class="content">
            <div class="gray-box"></div>
            <div class="control">
                <div id="slider-prev" class="prev"></div>
                <div id="slider-next" class="next"></div>
            </div>
            <div id="slider" class="view">
                {% for photo in slider_photos %}
                    <div class="slide">
                        <img class="full" src="{{ photo.getThumbWebPath('full') }}?{{ random(10000) }}" alt=""/>
                        <img class="big" src="{{ photo.getThumbWebPath('big') }}?{{ random(10000) }}" alt=""/>
                        <img class="medium" src="{{ photo.getThumbWebPath('medium') }}?{{ random(10000) }}" alt=""/>
                        <img class="small" src="{{ photo.getThumbWebPath('small') }}?{{ random(10000) }}" alt=""/>
                        <img class="tiny" src="{{ photo.getThumbWebPath('tiny') }}?{{ random(10000) }}" alt=""/>
                    </div>
                {% endfor %}
            </div>
            <div class="info">
                <div class="header">{{ cms_config.get('slider_header', '') }}</div>
                <div class="text">{{ cms_config.get('slider_text', '') }}</div>
                <a href="#{{ offerid }}">{{ cms_config.get('slider_button', '') }}</a>
            </div>
            <div class="clear"></div>
            <div class="show-more-container">
                <a href="#{{ aboutid }}"></a>
            </div>
        </div>
    </section>

    {% for item in menu_items %}
        {% if item.section == 'about' %}
            <section id="{{ item.sectionid }}" class="about">
                <div class="content">
                    <div class="title">{{ item.title }}</div>
                    <div class="rest">
                        <div class="page-content">{{ page.content | raw }}</div>
                        <div class="photo-container">
                            <div class="blue-box"></div>
                            <div class="quote">{{ page.contentshort }}</div>
                            <img class="big" src="{{ page.getThumbWebPath('big') }}?{{ random(10000) }}" alt=""/>
                            <img class="medium" src="{{ page.getThumbWebPath('medium') }}?{{ random(10000) }}" alt=""/>
                            <img class="small" src="{{ page.getThumbWebPath('small') }}?{{ random(10000) }}" alt=""/>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if item.section == 'offer' %}
            <section id="{{ item.sectionid }}" class="offer">
                <div class="content">
                    <div class="title">{{ item.title }}</div>
                    <div class="rest">
                        <div class="offer-list-container">
                            <div class="offer-list">
                                {% for item in offer %}
                                    <div class="item">
                                        <img src="{{ item.getPhotoWebPath() }}?{{ random(10000) }}" alt=""/>
                                        <span>{{ item.title }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="quote-container">
                            <div class="gray-box"></div>
                            <div class="quote">{{ offer_quote }}</div>
                            <div class="photo-1">
                                <img class="big" src="{{ offer_photo_1.getThumbWebPath('big') }}?{{ random(10000) }}" alt=""/>
                                <img class="medium" src="{{ offer_photo_1.getThumbWebPath('medium') }}?{{ random(10000) }}" alt=""/>
                                <img class="small" src="{{ offer_photo_1.getThumbWebPath('small') }}?{{ random(10000) }}" alt=""/>
                            </div>
                            <div class="photo-2">
                                <img class="big" src="{{ offer_photo_2.getThumbWebPath('big') }}?{{ random(10000) }}" alt=""/>
                                <img class="medium" src="{{ offer_photo_2.getThumbWebPath('medium') }}?{{ random(10000) }}" alt=""/>
                                <img class="small" src="{{ offer_photo_2.getThumbWebPath('small') }}?{{ random(10000) }}" alt=""/>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="blue-bar"></div>
                </div>
                <div class="blue-bar-bottom"></div>
            </section>
        {% endif %}

        {% if item.section == 'manufacturing' %}
            <section id="{{ item.sectionid }}" class="manufacturing">
                <div class="content">
                    <div class="title">{{ item.title }}</div>
                    <div class="rest">
                        <div class="manufacturing-list-container">
                            <div class="manufacturing-list">
                                {% for item in manufacturing %}
                                    {% if loop.index is even %}
                                        {% set manufacturing_class = ' right' %}
                                    {% else %}
                                        {% set manufacturing_class = ' left' %}
                                    {% endif %}
                                    <div class="item{{ manufacturing_class }}">
                                        <div class="name">{{ item.title }}</div>
                                        <div class="description">{{ item.content }}</div>
                                    </div>
                                    {% if loop.index is even or loop.last %}
                                        <div class="clear"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="quote-container">
                            <div class="quote">{{ manufacturing_quote }}</div>
                            <div class="photo">
                                <img class="big" src="{{ manufacturing_photo.getThumbWebPath('big') }}?{{ random(10000) }}" alt=""/>
                                <img class="medium" src="{{ manufacturing_photo.getThumbWebPath('medium') }}?{{ random(10000) }}" alt=""/>
                                <img class="small" src="{{ manufacturing_photo.getThumbWebPath('small') }}?{{ random(10000) }}" alt=""/>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if item.section == 'contact' %}
            <section id="{{ item.sectionid }}" class="contact">
                <div class="content">
                    <div class="title">{{ item.title }}</div>
                    <div class="rest">
                        <div class="info">
                            <div class="firm">{{ cms_config.get('contact_firm', '') }}</div>
                            <div class="address">{{ cms_config.get('contact_address', '') }}</div>
                            <div class="phone">{{ cms_config.get('contact_phone', '') }}</div>
                            <div class="clear"></div>
                            <div class="email">{{ cms_config.get('contact_email', '') | nl2br }}</div>
                            <div class="separator"></div>
                            <div class="bottom">
                                NIP&nbsp;{{ cms_config.get('contact_nip', '') }}<br/>
                                REGON&nbsp;{{ cms_config.get('contact_regon', '') }}
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contact-form-container">
                            {{ render(controller('LsContactBundle:Front:index')) }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}

    <div id="map"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD3Qjt4W8QfRmsNiz1BDtKP59MSqpvGTTc" type="text/javascript"></script>
    <script type="text/javascript">
        var map = {
            address: '',
            content: '',
            cords: null,
            geocoder: null,
            mapOptions: null,
            marker: null,
            markerShadow: null,
            object: null
        };

        function initialize() {
            map.address = '{{ cms_config.get('contact_address', '') }}';

            map.geocoder = new google.maps.Geocoder();

            map.mapOptions = {
                zoom: 14,
                panControl: true,
                zoomControl: true,
                scaleControl: false,
                mapTypeControl: true,
                streetViewControl: false,
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map.object = new google.maps.Map(document.getElementById('map'), map.mapOptions);

            map.geocoder.geocode(
                    {'address': map.address},
                    function (results, status) {
                        if (status === google.maps.GeocoderStatus.OK) {
                            map.cords = results[0].geometry.location;

                            map.object.setCenter(map.cords);

                            map.marker = new google.maps.Marker({
                                position: map.cords,
                                icon: '{{ asset('bundles/lscore/front/images/map-marker.png') }}',
                                map: map.object
                            });

                            map.markerShadow = new google.maps.Marker({
                                clickable: false,
                                position: map.cords,
                                map: map.object,
                                icon: {
                                    url: '{{ asset('bundles/lscore/front/images/map-marker-shadow.png') }}',
                                    //The size image file.
                                    size: new google.maps.Size(182, 44),
                                    //The point on the image to measure the anchor from. 0, 0 is the top left.
                                    origin: new google.maps.Point(0, 0),
                                    //The x y coordinates of the anchor point on the marker. e.g. If your map marker was a drawing pin then the anchor would be the tip of the pin.
                                    anchor: new google.maps.Point(24, 22)
                                },
                                zIndex: (Math.round(map.cords.lat() * -100000) << 5) - 1
                            });
                        } else {
                            console.log('Geocode was not successful for the following reason: ' + status);
                        }
                    }
            );
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        google.maps.event.addDomListener(window, 'resize', function () {
            map.object.setCenter(map.cords);
        });
    </script>
{% endblock %}
