.editor {
    font-family: 'museo-sans', Arial, sans-serif;
    padding: 20px 0 0 70px;
    color: #393939;
    width: 500px;
}

.editor p,
.page-content p {
    padding-bottom: 21px;
    font-weight: 300;
    line-height: 21px;
    font-size: 15px;
    margin: 0;
}

.editor .header,
.page-content .header {
    font-weight: 700;
    font-size: 17px;
    color: #28a9e0;
}

.editor .signature,
.page-content .signature {
    padding-top: 12px;
    font-weight: 700;
    text-align: right;
    font-style: italic;
    line-height: 22px;
    font-size: 16px;
}
