html, body {
  font-family: 'museo-sans', Arial, sans-serif;
  background-color: #4f4f4f;
  width: 100%; }

* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.content-wrapper {
  background-color: #ffffff;
  position: relative; } 

.content {
  margin: 0 auto;
  width: 320px; }

.clear {
  clear: both; }

@media (min-width: 660px) {
  .content {
    width: 640px; } }
@media (min-width: 980px) {
  .content {
    width: 960px; } }
@media (min-width: 1300px) {
  .content {
    width: 1280px; } }
.top-right-bg {
  position: absolute;
  display: none;
  width: 50%;
  left: 50%;
  top: 0; }
  .top-right-bg .helper {
    height: 100%; }

.floating-header {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 0; }
  .floating-header .content {
    position: relative;
    height: 0; }
    .floating-header .content .show-menu {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19c6ff+0,0ea5eb+100 */
      background: #19c6ff;
      /* Old browsers */
      background: -moz-linear-gradient(-79deg, #19c6ff 0%, #0ea5eb 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(-79deg, #19c6ff 0%, #0ea5eb 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(169deg, #19c6ff 0%, #0ea5eb 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19c6ff', endColorstr='#0ea5eb', GradientType=1);
      /* IE6-9 fallback on horizontal gradient */
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: absolute;
      padding: 10px 8px;
      cursor: pointer;
      right: 13px;
      top: -37px; }
      .floating-header .content .show-menu .bar {
        background-color: #ffffff;
        margin-bottom: 4px;
        height: 3px;
        width: 23px; }
        .floating-header .content .show-menu .bar:last-child {
          margin-bottom: 0; }
    .floating-header .content .navbar-nav {
      display: none; }
  .floating-header.visible .content .show-menu {
    top: 19px; }

.menu-mobile {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19c6ff+0,0ea5eb+100 */
  background: #19c6ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #19c6ff 0%, #0ea5eb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #19c6ff 0%, #0ea5eb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #19c6ff 0%, #0ea5eb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19c6ff', endColorstr='#0ea5eb', GradientType=0);
  /* IE6-9 */
  position: fixed;
  display: none;
  z-index: 9999;
  width: 100%;
  bottom: 0;
  top: 0; }
  .menu-mobile .content {
    position: relative;
    display: table;
    height: 100%; }
    .menu-mobile .content .hide-menu {
      background: transparent url("../images/hide-menu.png") no-repeat left top;
      position: absolute;
      cursor: pointer;
      height: 25px;
      width: 25px;
      right: 19px;
      top: 17px; }
    .menu-mobile .content .menu-container {
      vertical-align: middle;
      display: table-cell; }
      .menu-mobile .content .menu-container ul {
        list-style: none;
        padding: 0; }
        .menu-mobile .content .menu-container ul li {
          text-align: center;
          padding: 14px 0; }
          .menu-mobile .content .menu-container ul li a {
            text-transform: uppercase;
            display: inline-block;
            line-height: 32px;
            font-size: 24px;
            color: #ffffff; }
            .menu-mobile .content .menu-container ul li a:hover {
              color: #ffed27; }

header {
  position: relative;
  height: 59px; }
  header .content {
    position: relative; }
    header .content .logo {
      background: transparent url("../images/logo-mobile.png") no-repeat left top;
      position: absolute;
      cursor: pointer;
      display: block;
      width: 123px;
      height: 32px;
      left: 13px;
      top: 13px; }
    header .content .languages {
      position: absolute;
      left: 161px;
      top: 25px; }
      header .content .languages a {
        position: relative;
        margin: 0 9px 0 0;
        cursor: pointer;
        display: block;
        height: 11px;
        width: 14px;
        float: left; }
        header .content .languages a.de {
          background: transparent url("../images/languages-de-small.jpg") no-repeat left top; }
        header .content .languages a.en {
          background: transparent url("../images/languages-en-small.jpg") no-repeat left top; }
        header .content .languages a.pl {
          background: transparent url("../images/languages-pl-small.jpg") no-repeat left top; }
        header .content .languages a.ru {
          background: transparent url("../images/languages-ru-small.jpg") no-repeat left top; }
        header .content .languages a.current:after {
          background-color: #28a9e0;
          position: absolute;
          content: '';
          width: 14px;
          height: 3px;
          top: 14px;
          left: 0; }
    header .content .show-menu {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19c6ff+0,0ea5eb+100 */
      background: #19c6ff;
      /* Old browsers */
      background: -moz-linear-gradient(-79deg, #19c6ff 0%, #0ea5eb 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(-79deg, #19c6ff 0%, #0ea5eb 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(169deg, #19c6ff 0%, #0ea5eb 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19c6ff', endColorstr='#0ea5eb', GradientType=1);
      /* IE6-9 fallback on horizontal gradient */
      padding: 21px 17px 17px 17px;
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 0; }
      header .content .show-menu .bar {
        background-color: #ffffff;
        margin-bottom: 4px;
        height: 3px;
        width: 29px; }
    header .content .nav {
      list-style: none;
      display: none; }

@media (min-width: 660px) {
  .floating-header .content .show-menu {
    padding: 18px 17px;
    right: 17px;
    top: -53px; }

  .menu-mobile .content .hide-menu {
    top: 31px;
    right: 33px; }
  .menu-mobile .content .menu-container ul {
    padding: 0; }
    .menu-mobile .content .menu-container ul li {
      padding: 17px 0; }
      .menu-mobile .content .menu-container ul li a {
        line-height: 40px;
        font-size: 30px; }

  header {
    height: 86px; }
    header .content .logo {
      background: transparent url("../images/logo-tablet.png") no-repeat left top;
      width: 156px;
      height: 40px;
      left: 20px;
      top: 21px; }
    header .content .languages {
      left: 396px;
      top: 36px; }
      header .content .languages a {
        margin: 0 11px 0 0;
        height: 16px;
        width: 22px; }
        header .content .languages a.de {
          background: transparent url("../images/languages-de.jpg") no-repeat left top; }
        header .content .languages a.en {
          background: transparent url("../images/languages-en.jpg") no-repeat left top; }
        header .content .languages a.pl {
          background: transparent url("../images/languages-pl.jpg") no-repeat left top; }
        header .content .languages a.ru {
          background: transparent url("../images/languages-ru.jpg") no-repeat left top; }
        header .content .languages a.current:after {
          width: 22px;
          top: 20px; }
    header .content .show-menu {
      padding: 35px 31px 30px 32px; } }
@media (min-width: 980px) {
  .top-right-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,2dcbff+100 */
    background: #0ea5eb;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0ea5eb 0%, #2dcbff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0ea5eb 0%, #2dcbff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0ea5eb 0%, #2dcbff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#2dcbff', GradientType=0);
    /* IE6-9 */
    display: block;
    height: 465px; }
    .top-right-bg .helper {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,2dcbff+100 */
      background: #0ea5eb;
      /* Old browsers */
      background: -moz-linear-gradient(top, #0ea5eb 0%, #2dcbff 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #0ea5eb 0%, #2dcbff 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #0ea5eb 0%, #2dcbff 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#2dcbff', GradientType=0);
      /* IE6-9 */
      margin-left: -160px;
      width: 160px; }

  .floating-header {
    border-bottom: 0 solid #13b5f5;
    background-color: #ffffff;
    overflow: hidden; }
    .floating-header .content {
      height: 48px; }
      .floating-header .content .logo {
        background: transparent url("../images/logo-floating.png") no-repeat left top;
        position: absolute;
        width: 104px;
        height: 27px;
        left: 18px;
        top: 10px; }
      .floating-header .content .languages {
        position: absolute;
        left: 160px;
        top: 21px; }
        .floating-header .content .languages a {
          position: relative;
          margin: 0 9px 0 0;
          cursor: pointer;
          display: block;
          height: 11px;
          width: 14px;
          float: left; }
          .floating-header .content .languages a.de {
            background: transparent url("../images/languages-de-small.jpg") no-repeat left top; }
          .floating-header .content .languages a.en {
            background: transparent url("../images/languages-en-small.jpg") no-repeat left top; }
          .floating-header .content .languages a.pl {
            background: transparent url("../images/languages-pl-small.jpg") no-repeat left top; }
          .floating-header .content .languages a.ru {
            background: transparent url("../images/languages-ru-small.jpg") no-repeat left top; }
          .floating-header .content .languages a.current:after {
            background-color: #28a9e0;
            position: absolute;
            content: '';
            width: 14px;
            height: 3px;
            top: 14px;
            left: 0; }
      .floating-header .content .show-menu {
        display: none; }
      .floating-header .content .navbar-nav {
        padding-left: 25px;
        list-style: none;
        margin-left: 50%;
        display: block;
        width: 50%; }
        .floating-header .content .navbar-nav li {
          padding: 0 25px;
          float: left; }
          .floating-header .content .navbar-nav li a {
            text-transform: uppercase;
            position: relative;
            line-height: 48px;
            font-weight: 700;
            font-size: 12px;
            padding: 0 5px;
            cursor: pointer;
            display: block;
            color: #393939; }
            .floating-header .content .navbar-nav li a:hover:after {
              background-color: #ffed27;
              position: absolute;
              content: '';
              width: 100%;
              height: 3px;
              top: 48px;
              left: 0; }
          .floating-header .content .navbar-nav li.active a:after {
            background-color: #ffed27;
            position: absolute;
            content: '';
            width: 100%;
            height: 3px;
            top: 48px;
            left: 0; }
    .floating-header.visible {
      border-bottom: 3px solid #13b5f5;
      overflow: visible;
      height: 48px; }

  .menu-mobile {
    display: none !important; }

  header {
    height: 127px; }
    header .content .logo {
      background: transparent url("../images/logo-desktop.png") no-repeat left top;
      width: 180px;
      height: 46px;
      left: 9px;
      top: 35px; }
    header .content .languages {
      width: 66px;
      left: 246px;
      top: 24px; }
      header .content .languages a {
        margin: 15px 11px 0 0; }
    header .content .show-menu {
      display: none; }
    header .content .nav {
      padding: 56px 0 37px 5px;
      margin-left: 50%;
      display: block;
      font-size: 0; }
      header .content .nav li {
        display: inline-block;
        padding: 0 10px; }
        header .content .nav li a {
          text-transform: uppercase;
          letter-spacing: 0.02em;
          line-height: 34px;
          font-weight: 700;
          font-size: 12px;
          padding: 0 20px;
          display: block;
          color: #ffffff; }
          header .content .nav li a:hover {
            border-bottom: 3px solid #ffed27;
            color: #ffed27; } }
@media (min-width: 1300px) {
  .top-right-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,25c9ff+100 */
    background: #0ea5eb;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0ea5eb 0%, #25c9ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0ea5eb 0%, #25c9ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0ea5eb 0%, #25c9ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#25c9ff', GradientType=0);
    /* IE6-9 */
    height: 565px; }
    .top-right-bg .helper {
      display: none; }

  .floating-header {
    border-bottom: 0 solid #13b5f5; }
    .floating-header .content .logo {
      left: 23px;
      top: 12px; }
    .floating-header .content .languages {
      left: 165px;
      top: 23px; }
    .floating-header .content .navbar-nav {
      padding-left: 33px; }
      .floating-header .content .navbar-nav li {
        padding: 0 33px; }
        .floating-header .content .navbar-nav li a {
          line-height: 52px;
          font-size: 12px; }
          .floating-header .content .navbar-nav li a:hover:after {
            height: 5px;
            top: 52px; }
        .floating-header .content .navbar-nav li.active a:after {
          height: 5px;
          top: 52px; }
    .floating-header.visible {
      border-bottom: 5px solid #13b5f5;
      height: 52px; }

  header {
    height: 118px; }
    header .content .logo {
      left: 25px; }
    header .content .languages {
      width: auto;
      left: 451px;
      top: 59px; }
      header .content .languages a {
        margin: 0 11px 0 0; }
    header .content .nav {
      padding: 54px 0 28px 35px; }
      header .content .nav li {
        padding: 0 10px; }
        header .content .nav li a {
          line-height: 36px;
          font-size: 13px;
          padding: 0 25px; }
          header .content .nav li a:hover {
            border-bottom: 4px solid #ffed27; } }
@media (min-width: 1900px) {
  .top-right-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,19c6ff+100 */
    background: #0ea5eb;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0ea5eb 0%, #19c6ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#19c6ff', GradientType=0);
    /* IE6-9 */
    height: 729px; }
    .top-right-bg .helper {
      display: none; }

  header {
    height: 177px; }
    header .content .logo {
      background: transparent url("../images/logo-full.png") no-repeat left top;
      width: 213px;
      height: 54px;
      left: 25px;
      top: 59px; }
    header .content .languages {
      top: 79px; }
    header .content .nav {
      padding: 73px 0 66px 35px; }
      header .content .nav li {
        padding: 0 10px; }
        header .content .nav li a {
          line-height: 38px;
          font-size: 14px; }
          header .content .nav li a:hover {
            border-bottom: 4px solid #ffed27; } }
#main-slider .content {
  position: relative; }
  #main-slider .content .gray-box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6ecf6+0,a2dcf8+100 */
    background: #d6ecf6;
    /* Old browsers */
    background: -moz-linear-gradient(63deg, #d6ecf6 0%, #a2dcf8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(63deg, #d6ecf6 0%, #a2dcf8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(27deg, #d6ecf6 0%, #a2dcf8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6ecf6', endColorstr='#a2dcf8', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    position: absolute;
    display: none;
    z-index: 9; }
  #main-slider .content .control {
    position: relative;
    width: 100%; }
    #main-slider .content .control .prev {
      background: transparent url("../images/slider-prev-small.png") no-repeat left top;
      position: absolute;
      cursor: pointer;
      z-index: 7777;
      height: 45px;
      width: 33px;
      left: 10px;
      top: 133px; }
      #main-slider .content .control .prev:hover {
        background-position: left bottom;
        background-color: #ffed27; }
    #main-slider .content .control .next {
      background: transparent url("../images/slider-next-small.png") no-repeat left top;
      position: absolute;
      cursor: pointer;
      z-index: 7777;
      height: 45px;
      width: 33px;
      right: 10px;
      top: 133px; }
      #main-slider .content .control .next:hover {
        background-position: left bottom;
        background-color: #ffed27; }
  #main-slider .content .view .slide img {
    display: block; }
    #main-slider .content .view .slide img.full {
      display: none; }
    #main-slider .content .view .slide img.big {
      display: none; }
    #main-slider .content .view .slide img.medium {
      display: none; }
    #main-slider .content .view .slide img.small {
      display: none; }
    #main-slider .content .view .slide img.tiny {
      display: block; }
  #main-slider .content .info {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,19c6ff+100 */
    background: #0ea5eb;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0ea5eb 0%, #19c6ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#19c6ff', GradientType=0);
    /* IE6-9 */
    box-sizing: border-box;
    position: relative; }
    #main-slider .content .info .header {
      padding: 21px 60px 18px 60px;
      text-align: center;
      line-height: 27px;
      font-weight: 700;
      font-size: 26px;
      color: #ffffff; }
    #main-slider .content .info .text {
      line-height: 18px;
      font-weight: 300;
      font-size: 14px;
      color: #ffffff;
      display: none; }
    #main-slider .content .info a {
      text-transform: uppercase;
      background-color: #ffed27;
      display: inline-block;
      position: absolute;
      text-align: center;
      line-height: 38px;
      font-weight: 900;
      font-size: 12px;
      color: #393939;
      z-index: 999;
      height: 38px;
      width: 134px;
      top: -31px;
      left: 93px; }
  #main-slider .content .show-more-container {
    padding-top: 29px; }
    #main-slider .content .show-more-container a {
      background: transparent url("../images/show-more-small.png") no-repeat left top;
      cursor: pointer;
      display: block;
      margin: 0 auto;
      height: 30px;
      width: 25px; }

@media (min-width: 660px) {
  #main-slider .content .gray-box {
    display: block;
    height: 292px;
    width: 129px;
    left: 131px;
    top: 272px; }
  #main-slider .content .control .prev {
    left: 25px;
    top: 242px; }
  #main-slider .content .control .next {
    right: 25px;
    top: 242px; }
  #main-slider .content .view {
    margin-bottom: 36px; }
    #main-slider .content .view .slide img.full {
      display: none; }
    #main-slider .content .view .slide img.big {
      display: block; }
    #main-slider .content .view .slide img.medium {
      display: none; }
    #main-slider .content .view .slide img.small {
      display: none; }
    #main-slider .content .view .slide img.tiny {
      display: none; }
  #main-slider .content .info {
    position: absolute;
    padding: 0 35px;
    height: 336px;
    width: 380px;
    z-index: 999;
    top: 228px;
    right: 0; }
    #main-slider .content .info .header {
      padding: 44px 35px 20px 0;
      line-height: 38px;
      text-align: left;
      font-size: 35px; }
    #main-slider .content .info .text {
      padding-bottom: 28px;
      display: block; }
    #main-slider .content .info a {
      line-height: 45px;
      position: static;
      height: 45px;
      width: 167px; }
  #main-slider .content .show-more-container {
    padding-top: 47px; }
    #main-slider .content .show-more-container a {
      background: transparent url("../images/show-more-medium.png") no-repeat left top;
      height: 33px; } }
@media (min-width: 980px) {
  #main-slider .content {
    height: auto; }
    #main-slider .content .gray-box {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a2dcf8+0,d6ecf6+100 */
      background: #a2dcf8;
      /* Old browsers */
      background: -moz-linear-gradient(top, #a2dcf8 0%, #d6ecf6 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #a2dcf8 0%, #d6ecf6 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #a2dcf8 0%, #d6ecf6 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2dcf8', endColorstr='#d6ecf6', GradientType=0);
      /* IE6-9 */
      width: 50%;
      height: 292px;
      right: 929px;
      left: auto;
      top: 118px; }
    #main-slider .content .control .prev {
      background: transparent url("../images/slider-prev-medium.png") no-repeat left top;
      height: 59px;
      width: 43px;
      left: 24px;
      top: 192px; }
    #main-slider .content .control .next {
      background: transparent url("../images/slider-next-medium.png") no-repeat left top;
      height: 59px;
      width: 43px;
      right: 20px;
      top: 155px; }
    #main-slider .content .view {
      margin-bottom: 0;
      width: 480px;
      float: left; }
      #main-slider .content .view .slide img.full {
        display: none; }
      #main-slider .content .view .slide img.big {
        display: none; }
      #main-slider .content .view .slide img.medium {
        display: none; }
      #main-slider .content .view .slide img.small {
        display: block; }
      #main-slider .content .view .slide img.tiny {
        display: none; }
    #main-slider .content .info {
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      background: transparent;
      padding: 0 80px 0 35px;
      position: static;
      height: auto;
      width: 480px;
      float: left; }
      #main-slider .content .info .header {
        padding: 52px 35px 18px 0;
        line-height: 46px;
        font-size: 46px; }
      #main-slider .content .info .text {
        padding-bottom: 30px; }
    #main-slider .content .show-more-container {
      padding-top: 60px; } }
@media (min-width: 1300px) {
  #main-slider .content .gray-box {
    height: 278px;
    right: 1221px;
    top: 242px; }
  #main-slider .content .control .prev {
    background: transparent url("../images/slider-prev-big.png") no-repeat left top;
    height: 74px;
    width: 52px;
    left: 9px;
    top: 193px; }
  #main-slider .content .control .next {
    background: transparent url("../images/slider-next-big.png") no-repeat left top;
    height: 74px;
    width: 52px;
    right: 15px;
    top: 159px; }
  #main-slider .content .view {
    width: 640px;
    float: left; }
    #main-slider .content .view .slide img.full {
      display: none; }
    #main-slider .content .view .slide img.big {
      display: none; }
    #main-slider .content .view .slide img.medium {
      display: block; }
    #main-slider .content .view .slide img.small {
      display: none; }
    #main-slider .content .view .slide img.tiny {
      display: none; }
  #main-slider .content .info {
    padding: 0 160px 0 70px;
    width: 640px;
    float: left; }
    #main-slider .content .info .header {
      padding: 108px 0 30px 0;
      line-height: 54px;
      font-size: 55px; }
    #main-slider .content .info .text {
      padding-bottom: 24px;
      line-height: 21px;
      font-size: 16px; }
    #main-slider .content .info a {
      line-height: 52px;
      height: 52px;
      width: 213px; }
  #main-slider .content .show-more-container {
    padding-top: 36px; }
    #main-slider .content .show-more-container a {
      background: transparent url("../images/show-more-big.png") no-repeat left top;
      height: 41px;
      width: 33px; } }
@media (min-width: 1900px) {
  #main-slider .content .gray-box {
    height: 330px;
    right: 1221px;
    top: 295px; }
  #main-slider .content .control .prev {
    background: transparent url("../images/slider-prev-full.png") no-repeat left top;
    height: 79px;
    width: 56px;
    left: 7px;
    top: 255px; }
  #main-slider .content .control .next {
    background: transparent url("../images/slider-next-full.png") no-repeat left top;
    height: 79px;
    width: 56px;
    right: 13px;
    top: 220px; }
  #main-slider .content .view .slide img.full {
    display: block; }
  #main-slider .content .view .slide img.big {
    display: none; }
  #main-slider .content .view .slide img.medium {
    display: none; }
  #main-slider .content .view .slide img.small {
    display: none; }
  #main-slider .content .view .slide img.tiny {
    display: none; }
  #main-slider .content .info {
    padding: 0 140px 0 70px; }
    #main-slider .content .info .header {
      padding: 104px 0 50px 0;
      line-height: 60px;
      font-size: 57px; }
    #main-slider .content .info .text {
      padding-bottom: 47px;
      line-height: 24px;
      font-size: 17px; }
  #main-slider .content .show-more-container {
    padding-top: 35px; }
    #main-slider .content .show-more-container a {
      background: transparent url("../images/show-more-full.png") no-repeat left top;
      height: 51px; } }
.about .content .title {
  padding: 27px 0 18px 0;
  text-align: center;
  line-height: 38px;
  font-weight: 700;
  font-size: 30px;
  color: #393939; }
.about .content .rest .page-content {
  position: relative; }
  .about .content .rest .page-content p {
    padding-bottom: 12px;
    line-height: 18px;
    font-size: 12px; }
  .about .content .rest .page-content .header {
    font-size: 13px; }
  .about .content .rest .page-content .signature {
    margin-top: -5px;
    line-height: 20px;
    font-size: 14px; }
.about .content .rest .photo-container {
  padding: 26px 0 0 160px;
  position: relative; }
  .about .content .rest .photo-container .blue-box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,19c6ff+100 */
    background: #0ea5eb;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0ea5eb 0%, #19c6ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#19c6ff', GradientType=0);
    /* IE6-9 */
    position: absolute;
    height: 190px;
    width: 160px;
    z-index: 1;
    top: 10px;
    left: 0; }
  .about .content .rest .photo-container .quote {
    padding: 11px 0 11px 14px;
    border: 4px solid #ffffff;
    box-sizing: border-box;
    letter-spacing: 0.02em;
    position: absolute;
    line-height: 16px;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    width: 173px;
    z-index: 4;
    left: 18px;
    top: 55px; }
  .about .content .rest .photo-container img {
    position: relative;
    display: block;
    z-index: 2; }
    .about .content .rest .photo-container img.big {
      display: none; }
    .about .content .rest .photo-container img.medium {
      display: none; }
    .about .content .rest .photo-container img.small {
      display: block; }
  .about .content .rest .photo-container:before {
    background: transparent url("../images/page-mask-tiny.png") no-repeat left top;
    position: absolute;
    height: 192px;
    width: 160px;
    content: '';
    z-index: 3;
    bottom: 0;
    right: 0; }

@media (min-width: 660px) {
  .about .content .title {
    padding: 41px 0 28px 0;
    line-height: 41px;
    font-size: 35px; }
  .about .content .rest .page-content p {
    padding-bottom: 18px;
    font-size: 13px; }
  .about .content .rest .page-content .header {
    font-size: 15px; }
  .about .content .rest .page-content .signature {
    margin-top: -7px; }
  .about .content .rest .photo-container {
    padding: 36px 0 0 160px;
    margin-top: -15px; }
    .about .content .rest .photo-container .blue-box {
      height: 290px;
      width: 320px;
      top: 0; }
    .about .content .rest .photo-container .quote {
      padding: 26px 50px 27px 30px;
      line-height: 24px;
      font-weight: 900;
      font-size: 18px;
      width: 350px;
      left: 36px;
      top: 88px; }
    .about .content .rest .photo-container img.big {
      display: none; }
    .about .content .rest .photo-container img.medium {
      display: block; }
    .about .content .rest .photo-container img.small {
      display: none; }
    .about .content .rest .photo-container:before {
      background: transparent url("../images/page-mask-small.png") no-repeat left top;
      height: 290px;
      width: 320px;
      right: 160px; } }
@media (min-width: 980px) {
  .about .content .title {
    padding: 39px 0 30px 0;
    line-height: 48px;
    font-size: 40px; }
  .about .content .rest .page-content {
    padding: 34px 40px 0 0;
    width: 440px;
    float: left; }
  .about .content .rest .photo-container {
    margin-top: 0;
    width: 320px;
    float: left; }
    .about .content .rest .photo-container:before {
      background: transparent url("../images/page-mask-medium.png") no-repeat left top;
      right: 0; } }
@media (min-width: 1300px) {
  .about .content .title {
    padding: 54px 0 55px 0;
    line-height: 54px;
    font-size: 46px; }
  .about .content .rest .page-content {
    padding: 32px 70px 0 70px;
    width: 500px; }
    .about .content .rest .page-content p {
      padding-bottom: 21px;
      line-height: 21px;
      font-size: 15px; }
    .about .content .rest .page-content .header {
      font-size: 17px; }
    .about .content .rest .page-content .signature {
      padding-top: 12px;
      line-height: 22px;
      font-size: 16px;
      margin-top: 0; }
    .about .content .rest .page-content:before {
      content: '';
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,19c6ff+100 */
      background: #0ea5eb;
      /* Old browsers */
      background: -moz-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #0ea5eb 0%, #19c6ff 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#19c6ff', GradientType=0);
      /* IE6-9 */
      position: absolute;
      height: 71px;
      width: 4px;
      top: 11px;
      left: 0; }
  .about .content .rest .photo-container {
    padding: 36px 0 0 320px; }
    .about .content .rest .photo-container .blue-box {
      height: 380px; }
    .about .content .rest .photo-container img.big {
      display: block; }
    .about .content .rest .photo-container img.medium {
      display: none; }
    .about .content .rest .photo-container img.small {
      display: none; }
    .about .content .rest .photo-container:before {
      background: transparent url("../images/page-mask-big.png") no-repeat left top;
      height: 380px; } }
@media (min-width: 1900px) {
  .about .content .title {
    line-height: 60px;
    font-size: 50px;
    padding: 78px 0; }
  .about .content .rest .photo-container:before {
    background: transparent url("../images/page-mask-full.png") no-repeat left top; } }
.offer .content .title {
  padding: 52px 0 20px 0;
  text-align: center;
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  color: #393939; }
.offer .content .rest .offer-list-container .offer-list .item {
  padding: 0 0 16px 55px;
  position: relative;
  height: 29px; }
  .offer .content .rest .offer-list-container .offer-list .item img {
    position: absolute;
    display: block;
    height: 29px;
    left: 0;
    top: 0; }
  .offer .content .rest .offer-list-container .offer-list .item span {
    letter-spacing: 0.02em;
    display: inline-block;
    line-height: 29px;
    font-weight: 700;
    font-size: 13px;
    color: #393939; }
  .offer .content .rest .offer-list-container .offer-list .item:last-child {
    padding: 0 0 0 55px; }
.offer .content .rest .quote-container {
  padding: 7px 0 0 160px;
  position: relative; }
  .offer .content .rest .quote-container .gray-box {
    z-index: 1; }
  .offer .content .rest .quote-container .quote {
    padding: 11px 4px 11px 14px;
    border: 4px solid #28a9e0;
    box-sizing: border-box;
    letter-spacing: 0.02em;
    position: absolute;
    line-height: 16px;
    font-weight: 700;
    font-size: 14px;
    color: #28a9e0;
    width: 173px;
    z-index: 4;
    left: 18px;
    top: 26px; }
  .offer .content .rest .quote-container .photo-1 {
    position: relative;
    z-index: 2; }
    .offer .content .rest .quote-container .photo-1 img {
      position: relative;
      display: block;
      z-index: 1; }
      .offer .content .rest .quote-container .photo-1 img.big {
        display: none; }
      .offer .content .rest .quote-container .photo-1 img.medium {
        display: none; }
      .offer .content .rest .quote-container .photo-1 img.small {
        display: block; }
    .offer .content .rest .quote-container .photo-1:before {
      background: transparent url("../images/offer-mask-tiny.png") no-repeat left top;
      position: absolute;
      height: 180px;
      width: 160px;
      content: '';
      z-index: 2;
      bottom: 0;
      right: 0; }
  .offer .content .rest .quote-container .photo-2 {
    position: relative;
    display: none;
    z-index: 3; }
    .offer .content .rest .quote-container .photo-2 img {
      display: block; }
      .offer .content .rest .quote-container .photo-2 img.big {
        display: none; }
      .offer .content .rest .quote-container .photo-2 img.medium {
        display: none; }
      .offer .content .rest .quote-container .photo-2 img.small {
        display: none; }

@media (min-width: 660px) {
  .offer .content {
    position: relative; }
    .offer .content .title {
      padding: 108px 0 29px 0;
      line-height: 41px;
      font-size: 35px; }
    .offer .content .rest .offer-list-container .offer-list {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 0;
      -moz-column-gap: 0;
      column-gap: 0; }
      .offer .content .rest .offer-list-container .offer-list .item {
        padding: 0 70px 16px 75px;
        display: table;
        height: 51px; }
        .offer .content .rest .offer-list-container .offer-list .item img {
          height: 41px; }
        .offer .content .rest .offer-list-container .offer-list .item span {
          vertical-align: middle;
          letter-spacing: 0.02em;
          display: table-cell;
          line-height: 20px; }
        .offer .content .rest .offer-list-container .offer-list .item:last-child {
          padding: 0 0 16px 75px; }
    .offer .content .rest .quote-container {
      padding: 0 0 0 320px;
      margin-top: -30px; }
      .offer .content .rest .quote-container .quote {
        padding: 26px 30px 27px 30px;
        line-height: 24px;
        font-weight: 900;
        font-size: 18px;
        width: 350px;
        left: 146px;
        top: 90px; }
      .offer .content .rest .quote-container .photo-1 img.big {
        display: none; }
      .offer .content .rest .quote-container .photo-1 img.medium {
        display: block; }
      .offer .content .rest .quote-container .photo-1 img.small {
        display: none; }
      .offer .content .rest .quote-container .photo-1:before {
        background: transparent url("../images/offer-mask-small.png") no-repeat left top;
        height: 290px;
        width: 320px; }
    .offer .content .blue-bar {
      background-color: #28a9e0;
      position: absolute;
      width: 563px;
      height: 4px;
      right: 356px;
      bottom: 0; } }
@media (min-width: 980px) {
  .offer {
    position: relative; }
    .offer .content .title {
      padding: 72px 0 50px 0;
      line-height: 48px;
      font-size: 40px; }
    .offer .content .rest .offer-list-container {
      padding-left: 35px;
      float: right;
      width: 445px; }
      .offer .content .rest .offer-list-container .offer-list {
        margin-right: -155px;
        width: 600px; }
        .offer .content .rest .offer-list-container .offer-list .item {
          padding: 0 50px 16px 75px; }
          .offer .content .rest .offer-list-container .offer-list .item:last-child {
            padding: 0 50px 16px 75px; }
    .offer .content .rest .quote-container {
      padding: 10px 0 0 0;
      margin-top: 0;
      float: right;
      width: 480px; }
      .offer .content .rest .quote-container .gray-box {
        background-color: #ececec;
        position: absolute;
        height: 290px;
        width: 100%;
        right: 297px;
        top: -36px; }
      .offer .content .rest .quote-container .quote {
        left: 95px;
        top: 63px; }
      .offer .content .rest .quote-container .photo-1:before {
        background: transparent url("../images/offer-mask-medium.png") no-repeat left top;
        right: 160px; }
    .offer .content .blue-bar {
      display: none; }
    .offer .blue-bar-bottom {
      background-color: #28a9e0;
      position: absolute;
      height: 4px;
      width: 50%;
      bottom: 0;
      left: 50%; } }
@media (min-width: 1300px) {
  .offer .content .title {
    padding: 90px 0 50px 0;
    line-height: 54px;
    font-size: 46px; }
  .offer .content .rest .offer-list-container {
    padding-left: 70px;
    width: 570px; }
    .offer .content .rest .offer-list-container .offer-list {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      margin-right: 0;
      width: 570px; }
      .offer .content .rest .offer-list-container .offer-list .item {
        padding: 0 0 16px 75px; }
        .offer .content .rest .offer-list-container .offer-list .item:last-child {
          padding: 0 0 16px 75px; }
  .offer .content .rest .quote-container {
    padding: 253px 0 0 160px;
    width: 480px; }
    .offer .content .rest .quote-container .gray-box {
      height: 533px;
      width: 100%;
      right: 480px;
      top: -26px; }
    .offer .content .rest .quote-container .quote {
      left: 250px;
      top: 73px; }
    .offer .content .rest .quote-container .photo-1:before {
      background: transparent url("../images/offer-mask-big.png") no-repeat left top;
      right: 160px; }
    .offer .content .rest .quote-container .photo-2 {
      position: absolute;
      display: block;
      top: 10px;
      left: 0; }
      .offer .content .rest .quote-container .photo-2 img.big {
        display: none; }
      .offer .content .rest .quote-container .photo-2 img.medium {
        display: block; }
      .offer .content .rest .quote-container .photo-2 img.small {
        display: none; }
      .offer .content .rest .quote-container .photo-2:before {
        background: transparent url("../images/offer-mask-2-big.png") no-repeat left top;
        position: absolute;
        height: 290px;
        width: 320px;
        content: '';
        left: 0;
        top: 0; } }
@media (min-width: 1900px) {
  .offer .content .title {
    padding: 155px 0 84px 0;
    line-height: 60px;
    font-size: 50px; }
  .offer .content .rest .offer-list-container .offer-list .item {
    padding: 0 70px 29px 115px; }
    .offer .content .rest .offer-list-container .offer-list .item img {
      height: 51px; }
    .offer .content .rest .offer-list-container .offer-list .item span {
      line-height: 24px;
      font-weight: 500;
      font-size: 18px; }
    .offer .content .rest .offer-list-container .offer-list .item:last-child {
      padding: 0 70px 29px 115px; }
  .offer .content .rest .quote-container {
    padding: 273px 0 0 160px; }
    .offer .content .rest .quote-container .gray-box {
      height: 623px; }
    .offer .content .rest .quote-container .quote {
      top: 97px; }
    .offer .content .rest .quote-container .photo-1 img.big {
      display: block; }
    .offer .content .rest .quote-container .photo-1 img.medium {
      display: none; }
    .offer .content .rest .quote-container .photo-1 img.small {
      display: none; }
    .offer .content .rest .quote-container .photo-1:before {
      background: transparent url("../images/offer-mask-full.png") no-repeat left top;
      height: 360px; }
    .offer .content .rest .quote-container .photo-2 img.big {
      display: block; }
    .offer .content .rest .quote-container .photo-2 img.medium {
      display: none; }
    .offer .content .rest .quote-container .photo-2 img.small {
      display: none; }
    .offer .content .rest .quote-container .photo-2:before {
      background: transparent url("../images/offer-mask-2-full.png") no-repeat left top;
      height: 360px; } }
.manufacturing .content .title {
  padding: 65px 0 34px 0;
  text-align: center;
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  color: #393939; }
.manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item {
  padding-bottom: 26px; }
  .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item .name {
    letter-spacing: 0.02em;
    padding-bottom: 4px;
    line-height: 19px;
    font-weight: 700;
    font-size: 15px;
    color: #28a9e0; }
  .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item .description {
    letter-spacing: 0.02em;
    line-height: 17px;
    font-weight: 300;
    font-size: 12px;
    color: #393939; }
.manufacturing .content .rest .quote-container {
  margin-bottom: -15px;
  padding: 0 0 0 160px;
  position: relative; }
  .manufacturing .content .rest .quote-container .quote {
    padding: 11px 4px 11px 14px;
    border: 4px solid #28a9e0;
    box-sizing: border-box;
    letter-spacing: 0.02em;
    position: absolute;
    line-height: 16px;
    font-weight: 700;
    font-size: 14px;
    color: #28a9e0;
    width: 173px;
    z-index: 2;
    left: 18px;
    top: 19px; }
  .manufacturing .content .rest .quote-container .photo {
    position: relative;
    z-index: 1; }
    .manufacturing .content .rest .quote-container .photo img {
      position: relative;
      display: block;
      z-index: 1; }
      .manufacturing .content .rest .quote-container .photo img.big {
        display: none; }
      .manufacturing .content .rest .quote-container .photo img.medium {
        display: none; }
      .manufacturing .content .rest .quote-container .photo img.small {
        display: block; }
    .manufacturing .content .rest .quote-container .photo:before {
      background: transparent url("../images/manufacturing-mask-tiny.png") no-repeat left top;
      position: absolute;
      height: 180px;
      width: 160px;
      content: '';
      z-index: 2;
      bottom: 0;
      right: 0; }

@media (min-width: 660px) {
  .manufacturing .content .title {
    padding: 67px 0 29px 0;
    line-height: 41px;
    font-size: 35px; }
  .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item {
    padding-bottom: 31px;
    width: 302px;
    float: left; }
    .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item.left {
      padding-right: 18px; }
    .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item.right {
      padding-left: 18px; }
  .manufacturing .content .rest .quote-container {
    margin-top: -19px;
    margin-bottom: -36px;
    padding: 0 0 0 320px; }
    .manufacturing .content .rest .quote-container .quote {
      padding: 26px 30px 27px 30px;
      line-height: 24px;
      font-weight: 900;
      font-size: 18px;
      width: 350px;
      left: 195px;
      top: 90px; }
    .manufacturing .content .rest .quote-container .photo img.big {
      display: none; }
    .manufacturing .content .rest .quote-container .photo img.medium {
      display: block; }
    .manufacturing .content .rest .quote-container .photo img.small {
      display: none; }
    .manufacturing .content .rest .quote-container .photo:before {
      background: transparent url("../images/manufacturing-mask-small.png") no-repeat left top;
      height: 290px;
      width: 320px; } }
@media (min-width: 980px) {
  .manufacturing .content .title {
    padding: 95px 0 33px 0;
    line-height: 48px;
    font-size: 40px; }
  .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item {
    padding-bottom: 20px;
    width: 444px; }
    .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item .description {
      font-size: 13px; }
    .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item.left {
      padding-right: 36px; }
    .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item.right {
      padding-left: 36px; }
  .manufacturing .content .rest .quote-container {
    margin-top: -82px;
    margin-bottom: -36px;
    padding: 0 0 0 640px; }
    .manufacturing .content .rest .quote-container .quote {
      left: 516px;
      top: 56px; }
    .manufacturing .content .rest .quote-container .photo img.big {
      display: none; }
    .manufacturing .content .rest .quote-container .photo img.medium {
      display: block; }
    .manufacturing .content .rest .quote-container .photo img.small {
      display: none; }
    .manufacturing .content .rest .quote-container .photo:before {
      background: transparent url("../images/manufacturing-mask-medium.png") no-repeat left top; } }
@media (min-width: 1300px) {
  .manufacturing .content .title {
    padding: 95px 0 42px 0;
    line-height: 54px;
    font-size: 46px; }
  .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item {
    position: relative;
    padding: 0 70px;
    height: 121px;
    width: 500px; }
    .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item .name {
      padding-bottom: 10px;
      padding-top: 19px; }
    .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item.left {
      padding-right: 70px; }
    .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item.right {
      padding-left: 70px; }
    .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item:before {
      content: '';
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,19c6ff+100 */
      background: #0ea5eb;
      /* Old browsers */
      background: -moz-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #0ea5eb 0%, #19c6ff 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#19c6ff', GradientType=0);
      /* IE6-9 */
      position: absolute;
      height: 57px;
      width: 4px;
      left: 0;
      top: 0; }
  .manufacturing .content .rest .quote-container {
    margin-top: -103px;
    margin-bottom: -41px;
    padding: 0 0 0 960px; }
    .manufacturing .content .rest .quote-container .quote {
      left: 676px;
      top: 56px; }
    .manufacturing .content .rest .quote-container .photo img.big {
      display: none; }
    .manufacturing .content .rest .quote-container .photo img.medium {
      display: block; }
    .manufacturing .content .rest .quote-container .photo img.small {
      display: none; }
    .manufacturing .content .rest .quote-container .photo:before {
      display: none; } }
@media (min-width: 1900px) {
  .manufacturing .content .title {
    padding: 115px 0 61px 0;
    line-height: 60px;
    font-size: 50px; }
  .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item {
    height: 171px; }
    .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item .name {
      padding-bottom: 16px;
      padding-top: 24px;
      font-size: 19px; }
    .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item .description {
      line-height: 21px;
      font-size: 14px; }
    .manufacturing .content .rest .manufacturing-list-container .manufacturing-list .item:before {
      height: 71px; }
  .manufacturing .content .rest .quote-container {
    margin-top: -141px;
    margin-bottom: -56px; }
    .manufacturing .content .rest .quote-container .quote {
      top: 120px; }
    .manufacturing .content .rest .quote-container .photo img.big {
      display: block; }
    .manufacturing .content .rest .quote-container .photo img.medium {
      display: none; }
    .manufacturing .content .rest .quote-container .photo img.small {
      display: none; } }
.contact {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,19c6ff+100 */
  background: #0ea5eb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0ea5eb 0%, #19c6ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#19c6ff', GradientType=0);
  /* IE6-9 */
  padding-bottom: 43px;
  color: #ffffff; }
  .contact .content .title {
    padding: 48px 0 20px 0;
    text-align: center;
    line-height: 36px;
    font-weight: 700;
    font-size: 30px; }
  .contact .content .rest .info .firm {
    padding: 7px 0 7px 35px;
    line-height: 20px;
    font-weight: 500;
    font-size: 15px; }
  .contact .content .rest .info .address {
    background: transparent url("../images/contact-address-small.png") no-repeat left center;
    padding: 7px 0 7px 35px;
    line-height: 18px;
    font-weight: 500;
    font-size: 13px; }
  .contact .content .rest .info .phone {
    background: transparent url("../images/contact-phone-small.png") no-repeat left center;
    padding: 7px 0 7px 35px;
    line-height: 18px;
    font-weight: 500;
    font-size: 14px; }
  .contact .content .rest .info .email {
    background: transparent url("../images/contact-email-small.png") no-repeat left center;
    padding: 7px 0 7px 35px;
    line-height: 18px;
    font-weight: 500;
    font-size: 13px; }
  .contact .content .rest .info .bottom {
    padding: 17px 0 23px 35px;
    line-height: 19px;
    font-weight: 500;
    font-size: 12px; }
  .contact .content .rest .contact-form-container .form-success {
    padding-bottom: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #ffed27; }
  .contact .content .rest .contact-form-container .form-group {
    padding-bottom: 4px; }
    .contact .content .rest .contact-form-container .form-group .form-label {
      text-align: center;
      line-height: 25px;
      font-weight: 700;
      font-size: 13px;
      display: block; }
    .contact .content .rest .contact-form-container .form-group .form-field input,
    .contact .content .rest .contact-form-container .form-group .form-field textarea {
      font-family: 'museo-sans', Arial, sans-serif;
      background-color: transparent;
      border: 2px solid #83d0f5;
      box-sizing: border-box;
      text-align: center;
      line-height: 18px;
      font-weight: 500;
      font-size: 13px;
      padding: 9px 0;
      color: #ffffff;
      outline: none;
      width: 100%; }
      .contact .content .rest .contact-form-container .form-group .form-field input:hover, .contact .content .rest .contact-form-container .form-group .form-field input:focus,
      .contact .content .rest .contact-form-container .form-group .form-field textarea:hover,
      .contact .content .rest .contact-form-container .form-group .form-field textarea:focus {
        border: 3px solid #ffed27;
        padding: 8px 0; }
    .contact .content .rest .contact-form-container .form-group .form-field textarea {
      resize: none; }
    .contact .content .rest .contact-form-container .form-group .form-field.has-error input,
    .contact .content .rest .contact-form-container .form-group .form-field.has-error textarea {
      border: 3px solid #bd1521;
      padding: 8px 0; }
    .contact .content .rest .contact-form-container .form-group .form-error ul {
      list-style: none; }
      .contact .content .rest .contact-form-container .form-group .form-error ul li {
        text-align: center;
        line-height: 16px;
        font-size: 10px;
        color: #bd1521; }
    .contact .content .rest .contact-form-container .form-group .form-buttons {
      padding-top: 8px; }
      .contact .content .rest .contact-form-container .form-group .form-buttons button {
        text-transform: uppercase;
        background-color: #ffed27;
        text-align: center;
        line-height: 38px;
        font-weight: 900;
        font-size: 12px;
        cursor: pointer;
        margin: 0 auto;
        display: block;
        color: #393939;
        outline: none;
        border: none;
        height: 38px;
        width: 134px; }

#map {
  height: 278px; }

@media (min-width: 660px) {
  .contact {
    padding-bottom: 63px; }
    .contact .content .title {
      padding: 75px 0 31px 0;
      line-height: 41px;
      font-size: 35px; }
    .contact .content .rest .info .firm {
      letter-spacing: 0.02em;
      padding: 0 0 6px 45px; }
    .contact .content .rest .info .address {
      background: transparent url("../images/contact-address-medium.png") no-repeat left center;
      padding: 11px 0 11px 45px;
      letter-spacing: 0.02em;
      font-size: 14px;
      width: 293px;
      float: left; }
    .contact .content .rest .info .phone {
      background: transparent url("../images/contact-phone-medium.png") no-repeat left center;
      padding: 11px 0 11px 45px;
      letter-spacing: 0.02em;
      font-size: 14px;
      float: left; }
    .contact .content .rest .info .email {
      background: transparent url("../images/contact-email-medium.png") no-repeat left center;
      padding: 11px 0 11px 45px;
      letter-spacing: 0.02em;
      font-size: 14px;
      width: 293px;
      float: left; }
    .contact .content .rest .info .bottom {
      padding: 11px 0 11px 45px;
      letter-spacing: 0.02em;
      font-size: 14px;
      float: left; }
    .contact .content .rest .contact-form-container {
      padding-top: 22px; }
      .contact .content .rest .contact-form-container .form-success {
        font-size: 15px; }
      .contact .content .rest .contact-form-container .form-group {
        padding-bottom: 7px; }
        .contact .content .rest .contact-form-container .form-group .form-label {
          padding-right: 18px;
          text-align: right;
          line-height: 49px;
          font-size: 14px;
          width: 218px;
          float: left; }
        .contact .content .rest .contact-form-container .form-group .form-field {
          width: 306px;
          float: left; }
          .contact .content .rest .contact-form-container .form-group .form-field input,
          .contact .content .rest .contact-form-container .form-group .form-field textarea {
            padding: 12px 14px 13px 14px;
            line-height: 20px;
            text-align: left;
            font-size: 14px; }
            .contact .content .rest .contact-form-container .form-group .form-field input:hover, .contact .content .rest .contact-form-container .form-group .form-field input:focus,
            .contact .content .rest .contact-form-container .form-group .form-field textarea:hover,
            .contact .content .rest .contact-form-container .form-group .form-field textarea:focus {
              padding: 11px 13px 12px 13px; }
          .contact .content .rest .contact-form-container .form-group .form-field textarea {
            margin: 4px 0;
            height: 109px; }
          .contact .content .rest .contact-form-container .form-group .form-field.has-error input,
          .contact .content .rest .contact-form-container .form-group .form-field.has-error textarea {
            padding: 11px 13px 12px 13px; }
        .contact .content .rest .contact-form-container .form-group .form-error {
          padding: 0 98px 0 236px; }
          .contact .content .rest .contact-form-container .form-group .form-error ul li {
            line-height: 18px;
            font-size: 12px; }
        .contact .content .rest .contact-form-container .form-group .form-buttons {
          margin-left: 236px;
          padding-top: 0; }
          .contact .content .rest .contact-form-container .form-group .form-buttons button {
            line-height: 45px;
            height: 45px;
            width: 167px;
            margin: 0; } }
@media (min-width: 980px) {
  .contact {
    padding-bottom: 76px; }
    .contact .content .title {
      padding: 64px 0 24px 0;
      line-height: 50px;
      font-size: 40px; }
    .contact .content .rest .info {
      width: 480px;
      float: left; }
      .contact .content .rest .info .firm {
        padding: 9px 0 9px 45px; }
      .contact .content .rest .info .address {
        padding: 18px 0 18px 45px;
        width: auto;
        float: none; }
      .contact .content .rest .info .phone {
        padding: 8px 0 8px 45px;
        float: none; }
      .contact .content .rest .info .email {
        padding: 8px 0 8px 45px;
        width: auto;
        float: none; }
      .contact .content .rest .info .separator {
        background-color: #7dcff5;
        margin: 13px 0;
        height: 4px;
        width: 43px; }
      .contact .content .rest .info .bottom {
        padding: 9px 0 0 45px;
        float: none; }
    .contact .content .rest .contact-form-container {
      padding-top: 2px;
      width: 480px;
      float: left; }
      .contact .content .rest .contact-form-container .form-success {
        font-size: 15px; }
      .contact .content .rest .contact-form-container .form-group .form-label {
        padding-right: 35px;
        font-size: 14px;
        width: 125px; }
      .contact .content .rest .contact-form-container .form-group .form-field {
        width: 320px; }
      .contact .content .rest .contact-form-container .form-group .form-error {
        padding: 0 0 0 160px; }
        .contact .content .rest .contact-form-container .form-group .form-error ul li {
          line-height: 18px;
          font-size: 12px; }
      .contact .content .rest .contact-form-container .form-group .form-buttons {
        margin-left: 160px; }

  #map {
    height: 342px; } }
@media (min-width: 1300px) {
  .contact {
    padding-bottom: 52px; }
    .contact .content .title {
      padding: 68px 0 44px 0;
      line-height: 54px;
      font-size: 46px; }
    .contact .content .rest .info {
      width: 640px; }
      .contact .content .rest .info .firm {
        padding: 0 0 31px 70px;
        line-height: 28px;
        font-size: 20px; }
      .contact .content .rest .info .address {
        background-position: 15px center;
        padding: 9px 0 9px 70px;
        line-height: 25px;
        font-size: 18px; }
      .contact .content .rest .info .phone {
        background-position: 15px center;
        padding: 10px 0 10px 70px;
        line-height: 25px;
        font-size: 18px; }
      .contact .content .rest .info .email {
        background-position: 15px center;
        padding: 9px 0 9px 70px;
        line-height: 25px;
        font-size: 18px; }
      .contact .content .rest .info .separator {
        margin: 20px 0;
        width: 70px; }
      .contact .content .rest .info .bottom {
        padding: 13px 0 0 70px;
        line-height: 28px;
        font-size: 18px; }
    .contact .content .rest .contact-form-container {
      padding-top: 3px;
      width: 640px; }
      .contact .content .rest .contact-form-container .form-success {
        font-size: 15px; }
      .contact .content .rest .contact-form-container .form-group {
        padding-bottom: 12px; }
        .contact .content .rest .contact-form-container .form-group .form-label {
          padding-right: 30px;
          line-height: 54px;
          font-size: 16px;
          width: 185px; }
        .contact .content .rest .contact-form-container .form-group .form-field {
          width: 356px; }
          .contact .content .rest .contact-form-container .form-group .form-field input,
          .contact .content .rest .contact-form-container .form-group .form-field textarea {
            padding: 15px 14px;
            line-height: 20px;
            font-size: 15px; }
            .contact .content .rest .contact-form-container .form-group .form-field input:hover, .contact .content .rest .contact-form-container .form-group .form-field input:focus,
            .contact .content .rest .contact-form-container .form-group .form-field textarea:hover,
            .contact .content .rest .contact-form-container .form-group .form-field textarea:focus {
              padding: 14px; }
          .contact .content .rest .contact-form-container .form-group .form-field textarea {
            height: 134px;
            margin: 0; }
          .contact .content .rest .contact-form-container .form-group .form-field.has-error input,
          .contact .content .rest .contact-form-container .form-group .form-field.has-error textarea {
            padding: 14px; }
        .contact .content .rest .contact-form-container .form-group .form-error {
          padding: 0 69px 0 215px; }
        .contact .content .rest .contact-form-container .form-group .form-buttons {
          margin-left: 215px; }
          .contact .content .rest .contact-form-container .form-group .form-buttons button {
            line-height: 52px;
            height: 52px;
            width: 213px; }

  #map {
    height: 372px; } }
@media (min-width: 1900px) {
  .contact {
    padding-bottom: 80px; }
    .contact .content .title {
      padding: 112px 0 84px 0;
      line-height: 60px;
      font-size: 50px; }
    .contact .content .rest .info .firm {
      padding: 16px 0 26px 70px;
      font-size: 22px; }
    .contact .content .rest .info .address {
      background: transparent url("../images/contact-address-big.png") no-repeat 13px center;
      padding: 12px 0 12px 70px;
      line-height: 30px;
      font-size: 20px; }
    .contact .content .rest .info .phone {
      background: transparent url("../images/contact-phone-big.png") no-repeat 13px center;
      padding: 12px 0 12px 70px;
      line-height: 30px;
      font-size: 20px; }
    .contact .content .rest .info .email {
      background: transparent url("../images/contact-email-big.png") no-repeat 12px center;
      padding: 12px 0 12px 70px;
      line-height: 30px;
      font-size: 20px; }
    .contact .content .rest .info .separator {
      margin: 26px 0;
      width: 70px; }
    .contact .content .rest .info .bottom {
      padding: 13px 0 0 70px;
      line-height: 30px;
      font-size: 18px; }
    .contact .content .rest .contact-form-container {
      padding-top: 0; }
      .contact .content .rest .contact-form-container .form-success {
        font-size: 15px; }
      .contact .content .rest .contact-form-container .form-group {
        padding-bottom: 17px; }
        .contact .content .rest .contact-form-container .form-group .form-label {
          font-size: 18px; }
        .contact .content .rest .contact-form-container .form-group .form-field {
          width: 356px; }
          .contact .content .rest .contact-form-container .form-group .form-field input,
          .contact .content .rest .contact-form-container .form-group .form-field textarea {
            padding: 14px;
            line-height: 22px;
            font-size: 17px; }
            .contact .content .rest .contact-form-container .form-group .form-field input:hover, .contact .content .rest .contact-form-container .form-group .form-field input:focus,
            .contact .content .rest .contact-form-container .form-group .form-field textarea:hover,
            .contact .content .rest .contact-form-container .form-group .form-field textarea:focus {
              padding: 13px 14px; }
          .contact .content .rest .contact-form-container .form-group .form-field textarea {
            height: 166px; }
          .contact .content .rest .contact-form-container .form-group .form-field.has-error input,
          .contact .content .rest .contact-form-container .form-group .form-field.has-error textarea {
            padding: 13px 14px; }
        .contact .content .rest .contact-form-container .form-group .form-buttons {
          margin-left: 215px; }
          .contact .content .rest .contact-form-container .form-group .form-buttons button {
            line-height: 52px;
            height: 52px;
            width: 213px; }

  #map {
    height: 372px; } }
footer {
  background-color: #4f4f4f;
  padding-bottom: 35px;
  position: relative;
  text-align: center;
  font-weight: 300;
  color: #ffffff; }
  footer .to-top {
    background-color: #ffed27;
    text-transform: uppercase;
    padding: 42px 0 12px 0;
    position: relative;
    text-align: center;
    line-height: 18px;
    font-weight: 900;
    font-size: 12px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    color: #393939;
    z-index: 7777;
    width: 78px;
    top: -12px; }
    footer .to-top img {
      transition: all .2s ease-in-out;
      position: absolute;
      display: block;
      left: 25px;
      top: 14px; }
    footer .to-top:hover img {
      top: -8px; }
  footer .copyright {
    letter-spacing: -0.02em;
    padding-top: 32px;
    line-height: 16px;
    font-size: 12px; }
  footer .project {
    letter-spacing: -0.02em;
    padding-bottom: 3px;
    line-height: 16px;
    font-size: 12px; }
  footer a {
    background: transparent url("../images/lemonade.png") no-repeat center left;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    height: 24px;
    width: 69px; }

@media (min-width: 660px) {
  footer {
    padding-bottom: 50px; }
    footer .copyright {
      padding-top: 28px;
      line-height: 26px;
      font-size: 13px; }
    footer .project {
      padding-bottom: 4px;
      line-height: 26px;
      font-size: 13px; } }
@media (min-width: 1300px) {
  footer {
    padding-bottom: 60px; }
    footer .to-top {
      background-position: center 23px;
      padding: 52px 0 20px 0;
      width: 96px;
      top: -21px; }
      footer .to-top img {
        left: 34px;
        top: 23px; }
      footer .to-top:hover img {
        top: -7px; }
    footer .copyright {
      padding-top: 59px; } }

a.mobile-program {
    display: block;}
    @media (min-width: 980px) {
      a.mobile-program {
        display: none;
      }
    }


.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none; }
    @media (max-width: 460px) {
    .modalDialog > div {
      width: 240px !important; }
      .modalDialog img {
          width: 85% !important; } }

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: white;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 26px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 27px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

#program {
    background: white;
    width: 360px;
    height: 213px;
    position: fixed;
    top: 40px;
    right: -360px;
    z-index: 999999; }

#program2 {
    background: white;
    width: 360px;
    height: 420px;
    position: fixed;
    top: 265px;
    right: -360px;
    z-index: 999999; }

#program .indicator {
    width: 53px;
    height: 213px;
    position: absolute;
    left: -53px;
    top: 0px;
    background: url(../images/program37.jpg) no-repeat 0 0;
    cursor: pointer; }
    @media (max-width: 980px) {
      #program .indicator {
        display: none; }
    }

#program2 .indicator2 {
    width: 53px;
    height: 213px;
    position: absolute;
    left: -53px;
    top: 0px;
    background: url(../images/zapytanie-ofertowe.jpg) no-repeat 0 0;
    cursor: pointer; }
    @media (max-width: 980px) {
      #program2 .indicator2 {
        display: none; }
    }

.program-content {
    display: block;
    width: 100%;
    height: 100%; }

.program-content a {
    color: #000;
    text-decoration: underline;
}
.program-content img.download-button {
    margin: 0 5px 0 0;
}
.program-content a, .program-content img {
    display: inline-block;
    vertical-align: middle;
}
.program-content .download {
    margin-top: 8px;
}

.program-content .text {
    font-weight: 500;
    font-size: 13px;
    margin-left: 22px;
    margin-top: 18px;
    margin-right: 33px;
    line-height: 1.6em; }

.program-content .text span {
  font-weight: 900; }

.program-content .files {
    margin-left: 22px;
    float: left;
    margin-top: 18px; }

.program-content .files a {
    font-weight: 500;
    font-size: 13px;
    width: 100%;
    float: left;
    color: black;
    text-decoration: none;
    margin-bottom: 4px;
    padding-top: 0px;
    line-height: 2.5em; }

.program-content .files a:after {
    background: url(../images/program_ico.png) no-repeat;
    content: "";
    width: 31px;
    height: 31px;
    float: left;
    margin-right: 8px; }

.program-content .files a:hover {
    text-decoration: underline; }

.program-content img  {
  margin-left: 18px;
  margin-top: 2px; }

img.download-button {
    width: auto !important; 
}