{% extends '::frontend.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ entity.title }}</h1>
        <div>{{ entity.content|raw }}</div>
        {% if entity.gallery %}
            <div class="gallery">
                {% include "LsGalleryBundle:Front:_hasgallery.html.twig" with { gallery: entity.gallery } %}
            </div>
        {% endif %}
    </div>
{% endblock %}