html, body {
  font-family: 'museo-sans', Arial, sans-serif;
  background-color: #4f4f4f;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.content-wrapper {
  background-color: #ffffff;
  position: relative;
}

.content {
  margin: 0 auto;
  width: 320px;
}

.clear {
  clear: both;
}

@media (min-width: 660px) {
  .content {
    width: 640px;
  }
}

@media (min-width: 980px) {
  .content {
    width: 960px;
  }
}

@media (min-width: 1300px) {
  .content {
    width: 1280px;
  }
}
