.contact {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,19c6ff+100 */
  background: #0ea5eb; /* Old browsers */
  background: -moz-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0ea5eb 0%, #19c6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#19c6ff', GradientType=0); /* IE6-9 */
  padding-bottom: 43px;
  color: #ffffff;

  .content {
    .title {
      padding: 48px 0 20px 0;
      text-align: center;
      line-height: 36px;
      font-weight: 700;
      font-size: 30px;
    }

    .rest {
      .info {
        .firm {
          padding: 7px 0 7px 35px;
          line-height: 20px;
          font-weight: 500;
          font-size: 15px;
        }

        .address {
          background: transparent url('../images/contact-address-small.png') no-repeat left center;
          padding: 7px 0 7px 35px;
          line-height: 18px;
          font-weight: 500;
          font-size: 13px;
        }

        .phone {
          background: transparent url('../images/contact-phone-small.png') no-repeat left center;
          padding: 7px 0 7px 35px;
          line-height: 18px;
          font-weight: 500;
          font-size: 14px;
        }

        .email {
          background: transparent url('../images/contact-email-small.png') no-repeat left center;
          padding: 7px 0 7px 35px;
          line-height: 18px;
          font-weight: 500;
          font-size: 13px;
        }

        .bottom {
          padding: 17px 0 23px 35px;
          line-height: 19px;
          font-weight: 500;
          font-size: 12px;
        }
      }

      .contact-form-container {
        .form-success {
          padding-bottom: 10px;
          text-align: center;
          line-height: 20px;
          font-size: 14px;
          color: #ffed27;
        }

        .form-group {
          padding-bottom: 4px;

          .form-label {
            text-align: center;
            line-height: 25px;
            font-weight: 700;
            font-size: 13px;
            display: block;
          }

          .form-field {
            input,
            textarea {
              font-family: 'museo-sans', Arial, sans-serif;
              background-color: transparent;
              border: 2px solid #83d0f5;
              box-sizing: border-box;
              text-align: center;
              line-height: 18px;
              font-weight: 500;
              font-size: 13px;
              padding: 9px 0;
              color: #ffffff;
              outline: none;
              width: 100%;

              &:hover,
              &:focus {
                border: 3px solid #ffed27;
                padding: 8px 0;
              }
            }

            textarea {
              resize: none;
            }

            &.has-error {
              input,
              textarea {
                border: 3px solid #bd1521;
                padding: 8px 0;
              }
            }
          }

          .form-error {
            ul {
              list-style: none;

              li {
                text-align: center;
                line-height: 16px;
                font-size: 10px;
                color: #bd1521;
              }
            }
          }

          .form-buttons {
            padding-top: 8px;

            button {
              text-transform: uppercase;
              background-color: #ffed27;
              text-align: center;
              line-height: 38px;
              font-weight: 900;
              font-size: 12px;
              cursor: pointer;
              margin: 0 auto;
              display: block;
              color: #393939;
              outline: none;
              border: none;
              height: 38px;
              width: 134px;
            }
          }
        }
      }
    }
  }
}

#map {
  height: 278px;
}

@media (min-width: 660px) {
  .contact {
    padding-bottom: 63px;

    .content {
      .title {
        padding: 75px 0 31px 0;
        line-height: 41px;
        font-size: 35px;
      }

      .rest {
        .info {
          .firm {
            letter-spacing: 0.02em;
            padding: 0 0 6px 45px;
          }

          .address {
            background: transparent url('../images/contact-address-medium.png') no-repeat left center;
            padding: 11px 0 11px 45px;
            letter-spacing: 0.02em;
            font-size: 14px;
            width: 293px;
            float: left;
          }

          .phone {
            background: transparent url('../images/contact-phone-medium.png') no-repeat left center;
            padding: 11px 0 11px 45px;
            letter-spacing: 0.02em;
            font-size: 14px;
            float: left;
          }

          .email {
            background: transparent url('../images/contact-email-medium.png') no-repeat left center;
            padding: 11px 0 11px 45px;
            letter-spacing: 0.02em;
            font-size: 14px;
            width: 293px;
            float: left;
          }

          .bottom {
            padding: 11px 0 11px 45px;
            letter-spacing: 0.02em;
            font-size: 14px;
            float: left;
          }
        }

        .contact-form-container {
          padding-top: 22px;

          .form-success {
            font-size: 15px;
          }

          .form-group {
            padding-bottom: 7px;

            .form-label {
              padding-right: 18px;
              text-align: right;
              line-height: 49px;
              font-size: 14px;
              width: 218px;
              float: left
            }

            .form-field {
              width: 306px;
              float: left;

              input,
              textarea {
                padding: 12px 14px 13px 14px;
                line-height: 20px;
                text-align: left;
                font-size: 14px;

                &:hover,
                &:focus {
                  padding: 11px 13px 12px 13px;
                }
              }

              textarea {
                margin: 4px 0;
                height: 109px;
              }

              &.has-error {
                input,
                textarea {
                  padding: 11px 13px 12px 13px;
                }
              }
            }

            .form-error {
              padding: 0 98px 0 236px;

              ul {
                li {
                  line-height: 18px;
                  font-size: 12px;
                }
              }
            }

            .form-buttons {
              margin-left: 236px;
              padding-top: 0;

              button {
                line-height: 45px;
                height: 45px;
                width: 167px;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 980px) {
  .contact {
    padding-bottom: 76px;

    .content {
      .title {
        padding: 64px 0 24px 0;
        line-height: 50px;
        font-size: 40px;
      }

      .rest {
        .info {
          width: 480px;
          float: left;

          .firm {
            padding: 9px 0 9px 45px;
          }

          .address {
            padding: 18px 0 18px 45px;
            width: auto;
            float: none;
          }

          .phone {
            padding: 8px 0 8px 45px;
            float: none;
          }

          .email {
            padding: 8px 0 8px 45px;
            width: auto;
            float: none;
          }

          .separator {
            background-color: #7dcff5;
            margin: 13px 0;
            height: 4px;
            width: 43px;
          }

          .bottom {
            padding: 9px 0 0 45px;
            float: none;
          }
        }

        .contact-form-container {
          padding-top: 2px;
          width: 480px;
          float: left;

          .form-success {
            font-size: 15px;
          }

          .form-group {
            .form-label {
              padding-right: 35px;
              font-size: 14px;
              width: 125px;
            }

            .form-field {
              width: 320px;
            }

            .form-error {
              padding: 0 0 0 160px;

              ul {
                li {
                  line-height: 18px;
                  font-size: 12px;
                }
              }
            }

            .form-buttons {
              margin-left: 160px;
            }
          }
        }
      }
    }
  }

  #map {
    height: 342px;
  }
}

@media (min-width: 1300px) {
  .contact {
    padding-bottom: 52px;

    .content {
      .title {
        padding: 68px 0 44px 0;
        line-height: 54px;
        font-size: 46px;
      }

      .rest {
        .info {
          width: 640px;

          .firm {
            padding: 0 0 31px 70px;
            line-height: 28px;
            font-size: 20px;
          }

          .address {
            background-position: 15px center;
            padding: 9px 0 9px 70px;
            line-height: 25px;
            font-size: 18px;
          }

          .phone {
            background-position: 15px center;
            padding: 10px 0 10px 70px;
            line-height: 25px;
            font-size: 18px;
          }

          .email {
            background-position: 15px center;
            padding: 9px 0 9px 70px;
            line-height: 25px;
            font-size: 18px;
          }

          .separator {
            margin: 20px 0;
            width: 70px;
          }

          .bottom {
            padding: 13px 0 0 70px;
            line-height: 28px;
            font-size: 18px;
          }
        }

        .contact-form-container {
          padding-top: 3px;
          width: 640px;

          .form-success {
            font-size: 15px;
          }

          .form-group {
            padding-bottom: 12px;

            .form-label {
              padding-right: 30px;
              line-height: 54px;
              font-size: 16px;
              width: 185px;
            }

            .form-field {
              width: 356px;

              input,
              textarea {
                padding: 15px 14px;
                line-height: 20px;
                font-size: 15px;

                &:hover,
                &:focus {
                  padding: 14px;
                }
              }

              textarea {
                height: 134px;
                margin: 0;
              }

              &.has-error {
                input,
                textarea {
                  padding: 14px;
                }
              }
            }

            .form-error {
              padding: 0 69px 0 215px;
            }

            .form-buttons {
              margin-left: 215px;

              button {
                line-height: 52px;
                height: 52px;
                width: 213px;
              }
            }
          }
        }
      }
    }
  }

  #map {
    height: 372px;
  }
}

@media (min-width: 1900px) {
  .contact {
    padding-bottom: 80px;

    .content {
      .title {
        padding: 112px 0 84px 0;
        line-height: 60px;
        font-size: 50px;
      }

      .rest {
        .info {
          .firm {
            padding: 16px 0 26px 70px;
            font-size: 22px;
          }

          .address {
            background: transparent url('../images/contact-address-big.png') no-repeat 13px center;
            padding: 12px 0 12px 70px;
            line-height: 30px;
            font-size: 20px;
          }

          .phone {
            background: transparent url('../images/contact-phone-big.png') no-repeat 13px center;
            padding: 12px 0 12px 70px;
            line-height: 30px;
            font-size: 20px;
          }

          .email {
            background: transparent url('../images/contact-email-big.png') no-repeat 12px center;
            padding: 12px 0 12px 70px;
            line-height: 30px;
            font-size: 20px;
          }

          .separator {
            margin: 26px 0;
            width: 70px;
          }

          .bottom {
            padding: 13px 0 0 70px;
            line-height: 30px;
            font-size: 18px;
          }
        }

        .contact-form-container {
          padding-top: 0;

          .form-success {
            font-size: 15px;
          }

          .form-group {
            padding-bottom: 17px;

            .form-label {
              font-size: 18px;
            }

            .form-field {
              width: 356px;

              input,
              textarea {
                padding: 14px;
                line-height: 22px;
                font-size: 17px;

                &:hover,
                &:focus {
                  padding: 13px 14px;
                }
              }

              textarea {
                height: 166px;
              }

              &.has-error {
                input,
                textarea {
                  padding: 13px 14px;
                }
              }
            }

            .form-buttons {
              margin-left: 215px;

              button {
                line-height: 52px;
                height: 52px;
                width: 213px;
              }
            }
          }
        }
      }
    }
  }

  #map {
    height: 372px;
  }
}
