footer {
  background-color: #4f4f4f;
  padding-bottom: 35px;
  position: relative;
  text-align: center;
  font-weight: 300;
  color: #ffffff;

  .to-top {
    background-color: #ffed27;
    text-transform: uppercase;
    padding: 42px 0 12px 0;
    position: relative;
    text-align: center;
    line-height: 18px;
    font-weight: 900;
    font-size: 12px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    color: #393939;
    z-index: 7777;
    width: 78px;
    top: -12px;

    img {
      transition: all .2s ease-in-out;
      position: absolute;
      display: block;
      left: 25px;
      top: 14px;
    }

    &:hover {
      img {
        top: -8px;
      }
    }
  }

  .copyright {
    letter-spacing: -0.02em;
    padding-top: 32px;
    line-height: 16px;
    font-size: 12px;
  }

  .project {
    letter-spacing: -0.02em;
    padding-bottom: 3px;
    line-height: 16px;
    font-size: 12px;
  }

  a {
    background: transparent url('../images/lemonade.png') no-repeat center left;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    height: 24px;
    width: 69px;
  }
}

@media (min-width: 660px) {
  footer {
    padding-bottom: 50px;

    .copyright {
      padding-top: 28px;
      line-height: 26px;
      font-size: 13px;
    }

    .project {
      padding-bottom: 4px;
      line-height: 26px;
      font-size: 13px;
    }
  }
}

@media (min-width: 1300px) {
  footer {
    padding-bottom: 60px;

    .to-top {
      background-position: center 23px;
      padding: 52px 0 20px 0;
      width: 96px;
      top: -21px;

      img {
        left: 34px;
        top: 23px;
      }

      &:hover {
        img {
          top: -7px;
        }
      }
    }

    .copyright {
      padding-top: 59px;
    }
  }
}
