.top-right-bg {
  position: absolute;
  display: none;
  width: 50%;
  left: 50%;
  top: 0;

  .helper {
    height: 100%;
  }
}

.floating-header {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 0;

  .content {
    position: relative;
    height: 0;

    .show-menu {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19c6ff+0,0ea5eb+100 */
      background: #19c6ff; /* Old browsers */
      background: -moz-linear-gradient(-79deg, #19c6ff 0%, #0ea5eb 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-79deg, #19c6ff 0%, #0ea5eb 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(169deg, #19c6ff 0%, #0ea5eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19c6ff', endColorstr='#0ea5eb', GradientType=1); /* IE6-9 fallback on horizontal gradient */
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: absolute;
      padding: 10px 8px;
      cursor: pointer;
      right: 13px;
      top: -37px;

      .bar {
        background-color: #ffffff;
        margin-bottom: 4px;
        height: 3px;
        width: 23px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .navbar-nav {
      display: none;
    }
  }

  &.visible {
    .content {
      .show-menu {
        top: 19px;
      }
    }
  }
}

.menu-mobile {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19c6ff+0,0ea5eb+100 */
  background: #19c6ff; /* Old browsers */
  background: -moz-linear-gradient(top, #19c6ff 0%, #0ea5eb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #19c6ff 0%, #0ea5eb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #19c6ff 0%, #0ea5eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19c6ff', endColorstr='#0ea5eb', GradientType=0); /* IE6-9 */
  position: fixed;
  display: none;
  z-index: 9999;
  width: 100%;
  bottom: 0;
  top: 0;

  .content {
    position: relative;
    display: table;
    height: 100%;

    .hide-menu {
      background: transparent url('../images/hide-menu.png') no-repeat left top;
      position: absolute;
      cursor: pointer;
      height: 25px;
      width: 25px;
      right: 19px;
      top: 17px;
    }

    .menu-container {
      vertical-align: middle;
      display: table-cell;

      ul {
        list-style: none;
        padding: 0;

        li {
          text-align: center;
          padding: 14px 0;

          a {
            text-transform: uppercase;
            display: inline-block;
            line-height: 32px;
            font-size: 24px;
            color: #ffffff;

            &:hover {
              color: #ffed27;
            }
          }
        }
      }
    }
  }
}

header {
  position: relative;
  height: 59px;

  .content {
    position: relative;

    .logo {
      background: transparent url('../images/logo-mobile.png') no-repeat left top;
      position: absolute;
      cursor: pointer;
      display: block;
      width: 123px;
      height: 32px;
      left: 13px;
      top: 13px;
    }

    .languages {
      position: absolute;
      left: 161px;
      top: 25px;

      a {
        position: relative;
        margin: 0 9px 0 0;
        cursor: pointer;
        display: block;
        height: 11px;
        width: 14px;
        float: left;

        &.de {
          background: transparent url('../images/languages-de-small.jpg') no-repeat left top;
        }

        &.en {
          background: transparent url('../images/languages-en-small.jpg') no-repeat left top;
        }

        &.pl {
          background: transparent url('../images/languages-pl-small.jpg') no-repeat left top;
        }

        &.ru {
          background: transparent url('../images/languages-ru-small.jpg') no-repeat left top;
        }

        &.current {
          &:after {
            background-color: #28a9e0;
            position: absolute;
            content: '';
            width: 14px;
            height: 3px;
            top: 14px;
            left: 0;
          }
        }
      }
    }

    .show-menu {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19c6ff+0,0ea5eb+100 */
      background: #19c6ff; /* Old browsers */
      background: -moz-linear-gradient(-79deg, #19c6ff 0%, #0ea5eb 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-79deg, #19c6ff 0%, #0ea5eb 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(169deg, #19c6ff 0%, #0ea5eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19c6ff', endColorstr='#0ea5eb', GradientType=1); /* IE6-9 fallback on horizontal gradient */
      padding: 21px 17px 17px 17px;
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 0;

      .bar {
        background-color: #ffffff;
        margin-bottom: 4px;
        height: 3px;
        width: 29px;
      }
    }

    .nav {
      list-style: none;
      display: none;
    }
  }
}

@media (min-width: 660px) {
  .floating-header {
    .content {
      .show-menu {
        padding: 18px 17px;
        right: 17px;
        top: -53px;
      }
    }
  }

  .menu-mobile {
    .content {
      .hide-menu {
        top: 31px;
        right: 33px;
      }

      .menu-container {
        ul {
          padding: 0;

          li {
            padding: 17px 0;

            a {
              line-height: 40px;
              font-size: 30px;
            }
          }
        }
      }
    }
  }

  header {
    height: 86px;

    .content {
      .logo {
        background: transparent url('../images/logo-tablet.png') no-repeat left top;
        width: 156px;
        height: 40px;
        left: 20px;
        top: 21px;
      }

      .languages {
        left: 396px;
        top: 36px;

        a {
          margin: 0 11px 0 0;
          height: 16px;
          width: 22px;

          &.de {
            background: transparent url('../images/languages-de.jpg') no-repeat left top;
          }

          &.en {
            background: transparent url('../images/languages-en.jpg') no-repeat left top;
          }

          &.pl {
            background: transparent url('../images/languages-pl.jpg') no-repeat left top;
          }

          &.ru {
            background: transparent url('../images/languages-ru.jpg') no-repeat left top;
          }

          &.current {
            &:after {
              width: 22px;
              top: 20px;
            }
          }
        }
      }

      .show-menu {
        padding: 35px 31px 30px 32px;
      }

    }
  }
}

@media (min-width: 980px) {
  .top-right-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,2dcbff+100 */
    background: #0ea5eb; /* Old browsers */
    background: -moz-linear-gradient(top, #0ea5eb 0%, #2dcbff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0ea5eb 0%, #2dcbff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0ea5eb 0%, #2dcbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#2dcbff', GradientType=0); /* IE6-9 */
    display: block;
    height: 465px;

    .helper {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,2dcbff+100 */
      background: #0ea5eb; /* Old browsers */
      background: -moz-linear-gradient(top, #0ea5eb 0%, #2dcbff 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #0ea5eb 0%, #2dcbff 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #0ea5eb 0%, #2dcbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#2dcbff', GradientType=0); /* IE6-9 */
      margin-left: -160px;
      width: 160px;
    }
  }

  .floating-header {
    border-bottom: 0 solid #13b5f5;
    background-color: #ffffff;
    overflow: hidden;

    .content {
      height: 48px;

      .logo {
        background: transparent url('../images/logo-floating.png') no-repeat left top;
        position: absolute;
        width: 104px;
        height: 27px;
        left: 18px;
        top: 10px;
      }

      .languages {
        position: absolute;
        left: 160px;
        top: 21px;

        a {
          position: relative;
          margin: 0 9px 0 0;
          cursor: pointer;
          display: block;
          height: 11px;
          width: 14px;
          float: left;

          &.de {
            background: transparent url('../images/languages-de-small.jpg') no-repeat left top;
          }

          &.en {
            background: transparent url('../images/languages-en-small.jpg') no-repeat left top;
          }

          &.pl {
            background: transparent url('../images/languages-pl-small.jpg') no-repeat left top;
          }

          &.ru {
            background: transparent url('../images/languages-ru-small.jpg') no-repeat left top;
          }

          &.current {
            &:after {
              background-color: #28a9e0;
              position: absolute;
              content: '';
              width: 14px;
              height: 3px;
              top: 14px;
              left: 0;
            }
          }
        }
      }

      .show-menu {
        display: none;
      }

      .navbar-nav {
        padding-left: 25px;
        list-style: none;
        margin-left: 50%;
        display: block;
        width: 50%;

        li {
          padding: 0 25px;
          float: left;

          a {
            text-transform: uppercase;
            position: relative;
            line-height: 48px;
            font-weight: 700;
            font-size: 12px;
            padding: 0 5px;
            cursor: pointer;
            display: block;
            color: #393939;

            &:hover:after {
              background-color: #ffed27;
              position: absolute;
              content: '';
              width: 100%;
              height: 3px;
              top: 48px;
              left: 0;
            }
          }

          &.active {
            a:after {
              background-color: #ffed27;
              position: absolute;
              content: '';
              width: 100%;
              height: 3px;
              top: 48px;
              left: 0;
            }
          }
        }
      }
    }

    &.visible {
      border-bottom: 3px solid #13b5f5;
      overflow: visible;
      height: 48px;
    }
  }

  .menu-mobile {
    display: none !important;
  }

  header {
    height: 127px;

    .content {
      .logo {
        background: transparent url('../images/logo-desktop.png') no-repeat left top;
        width: 180px;
        height: 46px;
        left: 9px;
        top: 35px;
      }

      .languages {
        width: 66px;
        left: 246px;
        top: 24px;

        a {
          margin: 15px 11px 0 0;
        }
      }

      .show-menu {
        display: none;
      }

      .nav {
        padding: 56px 0 37px 5px;
        margin-left: 50%;
        display: block;
        font-size: 0;

        li {
          display: inline-block;
          padding: 0 10px;

          a {
            text-transform: uppercase;
            letter-spacing: 0.02em;
            line-height: 34px;
            font-weight: 700;
            font-size: 12px;
            padding: 0 20px;
            display: block;
            color: #ffffff;

            &:hover {
              border-bottom: 3px solid #ffed27;
              color: #ffed27;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .top-right-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,25c9ff+100 */
    background: #0ea5eb; /* Old browsers */
    background: -moz-linear-gradient(top, #0ea5eb 0%, #25c9ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0ea5eb 0%, #25c9ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0ea5eb 0%, #25c9ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#25c9ff', GradientType=0); /* IE6-9 */
    height: 565px;

    .helper {
      display: none;
    }
  }

  .floating-header {
    border-bottom: 0 solid #13b5f5;

    .content {
      .logo {
        left: 23px;
        top: 12px;
      }

      .languages {
        left: 165px;
        top: 23px;
      }

      .navbar-nav {
        padding-left: 33px;

        li {
          padding: 0 33px;

          a {
            line-height: 52px;
            font-size: 12px;

            &:hover:after {
              height: 5px;
              top: 52px;
            }
          }

          &.active {
            a:after {
              height: 5px;
              top: 52px;
            }
          }
        }
      }
    }

    &.visible {
      border-bottom: 5px solid #13b5f5;
      height: 52px;
    }
  }

  header {
    height: 118px;

    .content {
      .logo {
        left: 25px;
      }

      .languages {
        width: auto;
        left: 451px;
        top: 59px;

        a {
          margin: 0 11px 0 0;
        }
      }

      .nav {
        padding: 54px 0 28px 35px;

        li {
          padding: 0 10px;

          a {
            line-height: 36px;
            font-size: 13px;
            padding: 0 25px;

            &:hover {
              border-bottom: 4px solid #ffed27;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1900px) {
  .top-right-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,19c6ff+100 */
    background: #0ea5eb; /* Old browsers */
    background: -moz-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0ea5eb 0%, #19c6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#19c6ff', GradientType=0); /* IE6-9 */
    height: 729px;

    .helper {
      display: none;
    }
  }

  header {
    height: 177px;

    .content {
      .logo {
        background: transparent url('../images/logo-full.png') no-repeat left top;
        width: 213px;
        height: 54px;
        left: 25px;
        top: 59px;
      }

      .languages {
        top: 79px;
      }

      .nav {
        padding: 73px 0 66px 35px;

        li {
          padding: 0 10px;

          a {
            line-height: 38px;
            font-size: 14px;

            &:hover {
              border-bottom: 4px solid #ffed27;
            }
          }
        }
      }
    }
  }
}
