.manufacturing {
  .content {
    .title {
      padding: 65px 0 34px 0;
      text-align: center;
      line-height: 36px;
      font-weight: 700;
      font-size: 30px;
      color: #393939;
    }

    .rest {
      .manufacturing-list-container {
        .manufacturing-list {
          .item {
            padding-bottom: 26px;

            .name {
              letter-spacing: 0.02em;
              padding-bottom: 4px;
              line-height: 19px;
              font-weight: 700;
              font-size: 15px;
              color: #28a9e0;
            }

            .description {
              letter-spacing: 0.02em;
              line-height: 17px;
              font-weight: 300;
              font-size: 12px;
              color: #393939;
            }
          }
        }
      }

      .quote-container {
        margin-bottom: -15px;
        padding: 0 0 0 160px;
        position: relative;

        .quote {
          padding: 11px 4px 11px 14px;
          border: 4px solid #28a9e0;
          box-sizing: border-box;
          letter-spacing: 0.02em;
          position: absolute;
          line-height: 16px;
          font-weight: 700;
          font-size: 14px;
          color: #28a9e0;
          width: 173px;
          z-index: 2;
          left: 18px;
          top: 19px;
        }

        .photo {
          position: relative;
          z-index: 1;

          img {
            position: relative;
            display: block;
            z-index: 1;

            &.big {
              display: none;
            }

            &.medium {
              display: none;
            }

            &.small {
              display: block;
            }
          }

          &:before {
            background: transparent url('../images/manufacturing-mask-tiny.png') no-repeat left top;
            position: absolute;
            height: 180px;
            width: 160px;
            content: '';
            z-index: 2;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 660px) {
  .manufacturing {
    .content {
      .title {
        padding: 67px 0 29px 0;
        line-height: 41px;
        font-size: 35px;
      }

      .rest {
        .manufacturing-list-container {
          .manufacturing-list {
            .item {
              padding-bottom: 31px;
              width: 302px;
              float: left;

              &.left {
                padding-right: 18px;
              }

              &.right {
                padding-left: 18px;
              }
            }
          }
        }

        .quote-container {
          margin-top: -19px;
          margin-bottom: -36px;
          padding: 0 0 0 320px;

          .quote {
            padding: 26px 30px 27px 30px;
            line-height: 24px;
            font-weight: 900;
            font-size: 18px;
            width: 350px;
            left: 195px;
            top: 90px;
          }

          .photo {
            img {
              &.big {
                display: none;
              }

              &.medium {
                display: block;
              }

              &.small {
                display: none;
              }
            }

            &:before {
              background: transparent url('../images/manufacturing-mask-small.png') no-repeat left top;
              height: 290px;
              width: 320px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 980px) {
  .manufacturing {
    .content {
      .title {
        padding: 95px 0 33px 0;
        line-height: 48px;
        font-size: 40px;
      }

      .rest {
        .manufacturing-list-container {
          .manufacturing-list {
            .item {
              padding-bottom: 20px;
              width: 444px;

              .description {
                font-size: 13px;
              }

              &.left {
                padding-right: 36px;
              }

              &.right {
                padding-left: 36px;
              }
            }
          }
        }

        .quote-container {
          margin-top: -82px;
          margin-bottom: -36px;
          padding: 0 0 0 640px;

          .quote {
            left: 516px;
            top: 56px;
          }

          .photo {
            img {
              &.big {
                display: none;
              }

              &.medium {
                display: block;
              }

              &.small {
                display: none;
              }
            }

            &:before {
              background: transparent url('../images/manufacturing-mask-medium.png') no-repeat left top;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .manufacturing {
    .content {
      .title {
        padding: 95px 0 42px 0;
        line-height: 54px;
        font-size: 46px;
      }

      .rest {
        .manufacturing-list-container {
          .manufacturing-list {
            .item {
              position: relative;
              padding: 0 70px;
              height: 121px;
              width: 500px;

              .name {
                padding-bottom: 10px;
                padding-top: 19px;
              }

              &.left {
                padding-right: 70px;
              }

              &.right {
                padding-left: 70px;
              }

              &:before {
                content: '';
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,19c6ff+100 */
                background: #0ea5eb; /* Old browsers */
                background: -moz-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #0ea5eb 0%, #19c6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#19c6ff', GradientType=0); /* IE6-9 */
                position: absolute;
                height: 57px;
                width: 4px;
                left: 0;
                top: 0;
              }
            }
          }
        }

        .quote-container {
          margin-top: -103px;
          margin-bottom: -41px;
          padding: 0 0 0 960px;

          .quote {
            left: 676px;
            top: 56px;
          }

          .photo {
            img {
              &.big {
                display: none;
              }

              &.medium {
                display: block;
              }

              &.small {
                display: none;
              }
            }

            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1900px) {
  .manufacturing {
    .content {
      .title {
        padding: 115px 0 61px 0;
        line-height: 60px;
        font-size: 50px;
      }

      .rest {
        .manufacturing-list-container {
          .manufacturing-list {
            .item {
              height: 171px;

              .name {
                padding-bottom: 16px;
                padding-top: 24px;
                font-size: 19px;
              }

              .description {
                line-height: 21px;
                font-size: 14px;
              }

              &:before {
                height: 71px;
              }
            }
          }
        }

        .quote-container {
          margin-top: -141px;
          margin-bottom: -56px;

          .quote {
            top: 120px;
          }

          .photo {
            img {
              &.big {
                display: block;
              }

              &.medium {
                display: none;
              }

              &.small {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
