.offer {
  .content {
    .title {
      padding: 52px 0 20px 0;
      text-align: center;
      line-height: 36px;
      font-weight: 700;
      font-size: 30px;
      color: #393939;
    }

    .rest {
      .offer-list-container {
        .offer-list {
          .item {
            padding: 0 0 16px 55px;
            position: relative;
            height: 29px;

            img {
              position: absolute;
              display: block;
              height: 29px;
              left: 0;
              top: 0;
            }

            span {
              letter-spacing: 0.02em;
              display: inline-block;
              line-height: 29px;
              font-weight: 700;
              font-size: 13px;
              color: #393939;
            }

            &:last-child {
              padding: 0 0 0 55px;
            }
          }
        }
      }

      .quote-container {
        padding: 7px 0 0 160px;
        position: relative;

        .gray-box {
          z-index: 1;
        }

        .quote {
          padding: 11px 4px 11px 14px;
          border: 4px solid #28a9e0;
          box-sizing: border-box;
          letter-spacing: 0.02em;
          position: absolute;
          line-height: 16px;
          font-weight: 700;
          font-size: 14px;
          color: #28a9e0;
          width: 173px;
          z-index: 4;
          left: 18px;
          top: 26px;
        }

        .photo-1 {
          position: relative;
          z-index: 2;

          img {
            position: relative;
            display: block;
            z-index: 1;

            &.big {
              display: none;
            }

            &.medium {
              display: none;
            }

            &.small {
              display: block;
            }
          }

          &:before {
            background: transparent url('../images/offer-mask-tiny.png') no-repeat left top;
            position: absolute;
            height: 180px;
            width: 160px;
            content: '';
            z-index: 2;
            bottom: 0;
            right: 0;
          }
        }

        .photo-2 {
          position: relative;
          display: none;
          z-index: 3;

          img {
            display: block;

            &.big {
              display: none;
            }

            &.medium {
              display: none;
            }

            &.small {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 660px) {
  .offer {
    .content {
      position: relative;

      .title {
        padding: 108px 0 29px 0;
        line-height: 41px;
        font-size: 35px;
      }

      .rest {
        .offer-list-container {
          .offer-list {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            -webkit-column-gap: 0;
            -moz-column-gap: 0;
            column-gap: 0;

            .item {
              padding: 0 70px 16px 75px;
              display: table;
              height: 51px;

              img {
                height: 41px;
              }

              span {
                vertical-align: middle;
                letter-spacing: 0.02em;
                display: table-cell;
                line-height: 20px;
              }

              &:last-child {
                padding: 0 0 16px 75px;
              }
            }
          }
        }

        .quote-container {
          padding: 0 0 0 320px;
          margin-top: -30px;

          .quote {
            padding: 26px 30px 27px 30px;
            line-height: 24px;
            font-weight: 900;
            font-size: 18px;
            width: 350px;
            left: 146px;
            top: 90px;
          }

          .photo-1 {
            img {
              &.big {
                display: none;
              }

              &.medium {
                display: block;
              }

              &.small {
                display: none;
              }
            }

            &:before {
              background: transparent url('../images/offer-mask-small.png') no-repeat left top;
              height: 290px;
              width: 320px;
            }
          }
        }
      }

      .blue-bar {
        background-color: #28a9e0;
        position: absolute;
        width: 563px;
        height: 4px;
        right: 356px;
        bottom: 0;
      }
    }
  }
}

@media (min-width: 980px) {
  .offer {
    position: relative;

    .content {
      .title {
        padding: 72px 0 50px 0;
        line-height: 48px;
        font-size: 40px;
      }

      .rest {
        .offer-list-container {
          padding-left: 35px;
          float: right;
          width: 445px;

          .offer-list {
            margin-right: -155px;
            width: 600px;

            .item {
              padding: 0 50px 16px 75px;

              &:last-child {
                padding: 0 50px 16px 75px;
              }
            }
          }
        }

        .quote-container {
          padding: 10px 0 0 0;
          margin-top: 0;
          float: right;
          width: 480px;

          .gray-box {
            background-color: #ececec;
            position: absolute;
            height: 290px;
            width: 100%;
            right: 297px;
            top: -36px;
          }

          .quote {
            left: 95px;
            top: 63px;
          }

          .photo-1 {
            &:before {
              background: transparent url('../images/offer-mask-medium.png') no-repeat left top;
              right: 160px;
            }
          }
        }
      }

      .blue-bar {
        display: none;
      }
    }

    .blue-bar-bottom {
      background-color: #28a9e0;
      position: absolute;
      height: 4px;
      width: 50%;
      bottom: 0;
      left: 50%;
    }
  }
}

@media (min-width: 1300px) {
  .offer {
    .content {
      .title {
        padding: 90px 0 50px 0;
        line-height: 54px;
        font-size: 46px;
      }

      .rest {
        .offer-list-container {
          padding-left: 70px;
          width: 570px;

          .offer-list {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            margin-right: 0;
            width: 570px;

            .item {
              padding: 0 0 16px 75px;

              &:last-child {
                padding: 0 0 16px 75px;
              }
            }
          }
        }

        .quote-container {
          padding: 253px 0 0 160px;
          width: 480px;

          .gray-box {
            height: 533px;
            width: 100%;
            right: 480px;
            top: -26px;
          }

          .quote {
            left: 250px;
            top: 73px;
          }

          .photo-1 {
            &:before {
              background: transparent url('../images/offer-mask-big.png') no-repeat left top;
              right: 160px;
            }
          }

          .photo-2 {
            position: absolute;
            display: block;
            top: 10px;
            left: 0;

            img {
              &.big {
                display: none;
              }

              &.medium {
                display: block;
              }

              &.small {
                display: none;
              }
            }

            &:before {
              background: transparent url('../images/offer-mask-2-big.png') no-repeat left top;
              position: absolute;
              height: 290px;
              width: 320px;
              content: '';
              left: 0;
              top: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1900px) {
  .offer {
    .content {
      .title {
        padding: 155px 0 84px 0;
        line-height: 60px;
        font-size: 50px;
      }

      .rest {
        .offer-list-container {
          .offer-list {
            .item {
              padding: 0 70px 29px 115px;

              img {
                height: 51px;
              }

              span {
                line-height: 24px;
                font-weight: 500;
                font-size: 18px;
              }

              &:last-child {
                padding: 0 70px 29px 115px;
              }
            }
          }
        }

        .quote-container {
          padding: 273px 0 0 160px;

          .gray-box {
            height: 623px;
          }

          .quote {
            top: 97px;
          }

          .photo-1 {
            img {
              &.big {
                display: block;
              }

              &.medium {
                display: none;
              }

              &.small {
                display: none;
              }
            }

            &:before {
              background: transparent url('../images/offer-mask-full.png') no-repeat left top;
              height: 360px;
            }
          }

          .photo-2 {
            img {
              &.big {
                display: block;
              }

              &.medium {
                display: none;
              }

              &.small {
                display: none;
              }
            }

            &:before {
              background: transparent url('../images/offer-mask-2-full.png') no-repeat left top;
              height: 360px;
            }
          }
        }
      }
    }
  }
}
