.about {
  .content {
    .title {
      padding: 27px 0 18px 0;
      text-align: center;
      line-height: 38px;
      font-weight: 700;
      font-size: 30px;
      color: #393939;
    }

    .rest {
      .page-content {
        position: relative;

        p {
          padding-bottom: 12px;
          line-height: 18px;
          font-size: 12px;
        }

        .header {
          font-size: 13px;
        }

        .signature {
          margin-top: -5px;
          line-height: 20px;
          font-size: 14px;
        }
      }

      .photo-container {
        padding: 26px 0 0 160px;
        position: relative;

        .blue-box {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,19c6ff+100 */
          background: #0ea5eb; /* Old browsers */
          background: -moz-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #0ea5eb 0%, #19c6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#19c6ff', GradientType=0); /* IE6-9 */
          position: absolute;
          height: 190px;
          width: 160px;
          z-index: 1;
          top: 10px;
          left: 0;
        }

        .quote {
          padding: 11px 0 11px 14px;
          border: 4px solid #ffffff;
          box-sizing: border-box;
          letter-spacing: 0.02em;
          position: absolute;
          line-height: 16px;
          font-weight: 700;
          font-size: 14px;
          color: #ffffff;
          width: 173px;
          z-index: 4;
          left: 18px;
          top: 55px;
        }

        img {
          position: relative;
          display: block;
          z-index: 2;

          &.big {
            display: none;
          }

          &.medium {
            display: none;
          }

          &.small {
            display: block;
          }
        }

        &:before {
          background: transparent url('../images/page-mask-tiny.png') no-repeat left top;
          position: absolute;
          height: 192px;
          width: 160px;
          content: '';
          z-index: 3;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}

@media (min-width: 660px) {
  .about {
    .content {
      .title {
        padding: 41px 0 28px 0;
        line-height: 41px;
        font-size: 35px;
      }

      .rest {
        .page-content {
          p {
            padding-bottom: 18px;
            font-size: 13px;
          }

          .header {
            font-size: 15px;
          }

          .signature {
            margin-top: -7px;
          }
        }

        .photo-container {
          padding: 36px 0 0 160px;
          margin-top: -15px;

          .blue-box {
            height: 290px;
            width: 320px;
            top: 0;
          }

          .quote {
            padding: 26px 50px 27px 30px;
            line-height: 24px;
            font-weight: 900;
            font-size: 18px;
            width: 350px;
            left: 36px;
            top: 88px;
          }

          img {
            &.big {
              display: none;
            }

            &.medium {
              display: block;
            }

            &.small {
              display: none;
            }
          }

          &:before {
            background: transparent url('../images/page-mask-small.png') no-repeat left top;
            height: 290px;
            width: 320px;
            right: 160px;
          }
        }
      }
    }
  }
}

@media (min-width: 980px) {
  .about {
    .content {
      .title {
        padding: 39px 0 30px 0;
        line-height: 48px;
        font-size: 40px;
      }

      .rest {
        .page-content {
          padding: 34px 40px 0 0;
          width: 440px;
          float: left;
        }

        .photo-container {
          margin-top: 0;
          width: 320px;
          float: left;

          &:before {
            background: transparent url('../images/page-mask-medium.png') no-repeat left top;
            right: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .about {
    .content {
      .title {
        padding: 54px 0 55px 0;
        line-height: 54px;
        font-size: 46px;
      }

      .rest {
        .page-content {
          padding: 32px 70px 0 70px;
          width: 500px;
          p {
            padding-bottom: 21px;
            line-height: 21px;
            font-size: 15px;
          }

          .header {
            font-size: 17px;
          }

          .signature {
            padding-top: 12px;
            line-height: 22px;
            font-size: 16px;
            margin-top: 0;
          }

          &:before {
            content: '';
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,19c6ff+100 */
            background: #0ea5eb; /* Old browsers */
            background: -moz-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #0ea5eb 0%, #19c6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#19c6ff', GradientType=0); /* IE6-9 */
            position: absolute;
            height: 71px;
            width: 4px;
            top: 11px;
            left: 0;
          }
        }

        .photo-container {
          padding: 36px 0 0 320px;

          .blue-box {
            height: 380px;
          }

          img {
            &.big {
              display: block;
            }

            &.medium {
              display: none;
            }

            &.small {
              display: none;
            }
          }

          &:before {
            background: transparent url('../images/page-mask-big.png') no-repeat left top;
            height: 380px;
          }
        }
      }
    }
  }
}

@media (min-width: 1900px) {
  .about {
    .content {
      .title {
        line-height: 60px;
        font-size: 50px;
        padding: 78px 0;
      }

      .rest {
        .photo-container {
          &:before {
            background: transparent url('../images/page-mask-full.png') no-repeat left top;
          }
        }
      }
    }
  }
}
