#main-slider {
  .content {
    position: relative;

    .gray-box {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6ecf6+0,a2dcf8+100 */
      background: #d6ecf6; /* Old browsers */
      background: -moz-linear-gradient(63deg, #d6ecf6 0%, #a2dcf8 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(63deg, #d6ecf6 0%, #a2dcf8 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(27deg, #d6ecf6 0%, #a2dcf8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6ecf6', endColorstr='#a2dcf8', GradientType=1); /* IE6-9 fallback on horizontal gradient */
      position: absolute;
      display: none;
      z-index: 9;
    }

    .control {
      position: relative;
      width: 100%;

      .prev {
        background: transparent url('../images/slider-prev-small.png') no-repeat left top;
        position: absolute;
        cursor: pointer;
        z-index: 7777;
        height: 45px;
        width: 33px;
        left: 10px;
        top: 133px;

        &:hover {
          background-position: left bottom;
          background-color: #ffed27;
        }
      }

      .next {
        background: transparent url('../images/slider-next-small.png') no-repeat left top;
        position: absolute;
        cursor: pointer;
        z-index: 7777;
        height: 45px;
        width: 33px;
        right: 10px;
        top: 133px;

        &:hover {
          background-position: left bottom;
          background-color: #ffed27;
        }
      }
    }

    .view {
      .slide {
        img {
          display: block;

          &.full {
            display: none;
          }

          &.big {
            display: none;
          }

          &.medium {
            display: none;
          }

          &.small {
            display: none;
          }

          &.tiny {
            display: block;
          }
        }
      }
    }

    .info {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0ea5eb+0,19c6ff+100 */
      background: #0ea5eb; /* Old browsers */
      background: -moz-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #0ea5eb 0%, #19c6ff 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #0ea5eb 0%, #19c6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ea5eb', endColorstr='#19c6ff', GradientType=0); /* IE6-9 */
      box-sizing: border-box;
      position: relative;

      .header {
        padding: 21px 60px 18px 60px;
        text-align: center;
        line-height: 27px;
        font-weight: 700;
        font-size: 26px;
        color: #ffffff;
      }

      .text {
        line-height: 18px;
        font-weight: 300;
        font-size: 14px;
        color: #ffffff;
        display: none;
      }

      a {
        text-transform: uppercase;
        background-color: #ffed27;
        display: inline-block;
        position: absolute;
        text-align: center;
        line-height: 38px;
        font-weight: 900;
        font-size: 12px;
        color: #393939;
        z-index: 999;
        height: 38px;
        width: 134px;
        top: -31px;
        left: 93px;
      }
    }

    .show-more-container {
      padding-top: 29px;

      a {
        background: transparent url('../images/show-more-small.png') no-repeat left top;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        height: 30px;
        width: 25px;
      }
    }
  }
}

@media (min-width: 660px) {
  #main-slider {
    .content {
      .gray-box {
        display: block;
        height: 292px;
        width: 129px;
        left: 131px;
        top: 272px;
      }

      .control {
        .prev {
          left: 25px;
          top: 242px;
        }

        .next {
          right: 25px;
          top: 242px;
        }
      }

      .view {
        margin-bottom: 36px;

        .slide {
          img {
            &.full {
              display: none;
            }

            &.big {
              display: block;
            }

            &.medium {
              display: none;
            }

            &.small {
              display: none;
            }

            &.tiny {
              display: none;
            }
          }
        }
      }

      .info {
        position: absolute;
        padding: 0 35px;
        height: 336px;
        width: 380px;
        z-index: 999;
        top: 228px;
        right: 0;

        .header {
          padding: 44px 35px 20px 0;
          line-height: 38px;
          text-align: left;
          font-size: 35px;
        }

        .text {
          padding-bottom: 28px;
          display: block;
        }

        a {
          line-height: 45px;
          position: static;
          height: 45px;
          width: 167px;
        }
      }

      .show-more-container {
        padding-top: 47px;

        a {
          background: transparent url('../images/show-more-medium.png') no-repeat left top;
          height: 33px;
        }
      }
    }
  }
}

@media (min-width: 980px) {
  #main-slider {
    .content {
      height: auto;

      .gray-box {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a2dcf8+0,d6ecf6+100 */
        background: #a2dcf8; /* Old browsers */
        background: -moz-linear-gradient(top, #a2dcf8 0%, #d6ecf6 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #a2dcf8 0%, #d6ecf6 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #a2dcf8 0%, #d6ecf6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2dcf8', endColorstr='#d6ecf6', GradientType=0); /* IE6-9 */
        width: 50%;
        height: 292px;
        right: 929px;
        left: auto;
        top: 118px;
      }

      .control {
        .prev {
          background: transparent url('../images/slider-prev-medium.png') no-repeat left top;
          height: 59px;
          width: 43px;
          left: 24px;
          top: 192px;
        }

        .next {
          background: transparent url('../images/slider-next-medium.png') no-repeat left top;
          height: 59px;
          width: 43px;
          right: 20px;
          top: 155px;
        }
      }

      .view {
        margin-bottom: 0;
        width: 480px;
        float: left;

        .slide {
          img {
            &.full {
              display: none;
            }

            &.big {
              display: none;
            }

            &.medium {
              display: none;
            }

            &.small {
              display: block;
            }

            &.tiny {
              display: none;
            }
          }
        }
      }

      .info {
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        background: transparent;
        padding: 0 80px 0 35px;
        position: static;
        height: auto;
        width: 480px;
        float: left;

        .header {
          padding: 52px 35px 18px 0;
          line-height: 46px;
          font-size: 46px;
        }

        .text {
          padding-bottom: 30px;
        }
      }

      .show-more-container {
        padding-top: 60px;
      }
    }
  }
}

@media (min-width: 1300px) {
  #main-slider {
    .content {
      .gray-box {
        height: 278px;
        right: 1221px;
        top: 242px;
      }

      .control {
        .prev {
          background: transparent url('../images/slider-prev-big.png') no-repeat left top;
          height: 74px;
          width: 52px;
          left: 9px;
          top: 193px;
        }

        .next {
          background: transparent url('../images/slider-next-big.png') no-repeat left top;
          height: 74px;
          width: 52px;
          right: 15px;
          top: 159px;
        }
      }

      .view {
        width: 640px;
        float: left;

        .slide {
          img {
            &.full {
              display: none;
            }

            &.big {
              display: none;
            }

            &.medium {
              display: block;
            }

            &.small {
              display: none;
            }

            &.tiny {
              display: none;
            }
          }
        }
      }

      .info {
        padding: 0 160px 0 70px;
        width: 640px;
        float: left;

        .header {
          padding: 108px 0 30px 0;
          line-height: 54px;
          font-size: 55px;
        }

        .text {
          padding-bottom: 24px;
          line-height: 21px;
          font-size: 16px;
        }

        a {
          line-height: 52px;
          height: 52px;
          width: 213px;
        }
      }

      .show-more-container {
        padding-top: 36px;

        a {
          background: transparent url('../images/show-more-big.png') no-repeat left top;
          height: 41px;
          width: 33px;
        }
      }
    }
  }
}

@media (min-width: 1900px) {
  #main-slider {
    .content {
      .gray-box {
        height: 330px;
        right: 1221px;
        top: 295px;
      }

      .control {
        .prev {
          background: transparent url('../images/slider-prev-full.png') no-repeat left top;
          height: 79px;
          width: 56px;
          left: 7px;
          top: 255px;
        }

        .next {
          background: transparent url('../images/slider-next-full.png') no-repeat left top;
          height: 79px;
          width: 56px;
          right: 13px;
          top: 220px;
        }
      }

      .view {
        .slide {
          img {
            &.full {
              display: block;
            }

            &.big {
              display: none;
            }

            &.medium {
              display: none;
            }

            &.small {
              display: none;
            }

            &.tiny {
              display: none;
            }
          }
        }
      }

      .info {
        padding: 0 140px 0 70px;

        .header {
          padding: 104px 0 50px 0;
          line-height: 60px;
          font-size: 57px;
        }

        .text {
          padding-bottom: 47px;
          line-height: 24px;
          font-size: 17px;
        }
      }

      .show-more-container {
        padding-top: 35px;

        a {
          background: transparent url('../images/show-more-full.png') no-repeat left top;
          height: 51px;
        }
      }
    }
  }
}
