{% form_theme form with 'LsCoreBundle:Frontend:fields.html.twig' %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="form-success">{{ flashMessage }}</div>
{% endfor %}

{{ form_start(form, {'attr': {'id': form.vars.name, 'onsubmit': 'return sendContact();', 'novalidate': 'novalidate' }}) }}
<div class="form-group">
    {{ form_label(form.name, null, {'label_attr': {'class': 'form-label' }}) }}
    <div class="form-field{% if form.name.vars.errors|length %} has-error{% endif %}">
        {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
    </div>
    <div class="clear"></div>
    {% if form.name.vars.errors|length %}
        <div class="form-error">{{ form_errors(form.name) }}</div>
    {% endif %}
</div>
<div class="form-group">
    {{ form_label(form.email, null, {'label_attr': {'class': 'form-label' }}) }}
    <div class="form-field{% if form.email.vars.errors|length %} has-error{% endif %}">
        {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
    </div>
    <div class="clear"></div>
    {% if form.email.vars.errors|length %}
        <div class="form-error">{{ form_errors(form.email) }}</div>
    {% endif %}
</div>
<div class="form-group">
    {{ form_label(form.phone, null, {'label_attr': {'class': 'form-label' }}) }}
    <div class="form-field{% if form.phone.vars.errors|length %} has-error{% endif %}">
        {{ form_widget(form.phone, {'attr': {'class': 'form-control' }}) }}
    </div>
    <div class="clear"></div>
    {% if form.phone.vars.errors|length %}
        <div class="form-error">{{ form_errors(form.phone) }}</div>
    {% endif %}
</div>
<div class="form-group">
    {{ form_label(form.content, null, {'label_attr': {'class': 'form-label' }}) }}
    <div class="form-field{% if form.content.vars.errors|length %} has-error{% endif %}">
        {{ form_widget(form.content, {'attr': {'class': 'form-control' }}) }}
    </div>
    <div class="clear"></div>
    {% if form.content.vars.errors|length %}
        <div class="form-error">{{ form_errors(form.content) }}</div>
    {% endif %}
</div>
<div class="form-group">
    <div class="form-buttons">
        {{ form_widget(form.submit, {'attr': {'class': 'form-submit' }}) }}
    </div>
</div>
{{ form_end(form) }}
